{%extends "base.html"%}
{%block title%}
团队
{%endblock%}
{%block body%}
<script>
    let team;
    $(document).ready(() => {
        team = new Vue({
            delimiters: ['{[', ']}'],
            el: "#team",
            data: {
                data: null,
                done: false,
            }
        });
        $.post("/api/team/show", { team_id: window.location.href.split("/").pop() }).done(ctx => {
            ctx = JSON.parse(ctx);
            if (ctx.code) {
                showErrorModal(ctx.message);
                return;
            }
            team.data = ctx.data;
            team.done = true;
        });
    });
</script>

<div id="team" v-if="done">
    <div class="ui header">
        <h1>{[data.name]}</h1>
    </div>
</div>
{%endblock%}