{%extends "base.html"%}
{%block title%}
团队
{%endblock%}
{%block body%}
<script>
    let team;
    $(document).ready(() => {
        team = new Vue({
            delimiters: ['{[', ']}'],
            el: "#team",
            mixins: [baseMixin],
            data: {
                data: null,
                done: false,
                currentTab: "description"
            },
            computed: {
                hasManagerPermission() {
                    return this.base.uid != -1 ? this.hasAdminPermission(this.base.uid) : false;
                },
                adminList() {
                    let result = [];
                    for (let item of this.data.members) {
                        if (item.uid == this.data.owner_id || this.data.admins.includes(item.uid)) result.push(item);
                    }
                    return result;
                },
                normalMemberList() {
                    let result = [];
                    for (let item of this.data.members) {
                        if (!(item.uid == this.data.owner_id || this.data.admins.includes(item.uid))) result.push(item);
                    }
                    return result;
                }

            },
            methods: {
                unlock() {
                    axios.post("/api/team/unlock_problems_and_contests_and_problemsets", {
                        teamID: this.data.id
                    }).then(resp => {
                        let data = resp.data;
                        if (data.code) {
                            showErrorModal(data.message);
                            return;
                        }
                        showSuccessModal(data.message);
                    });
                },
                generalAdd(data) {
                    axios.post("/api/team/add_problem_or_contest_or_problemset", data).then(resp => {
                        let data = resp.data;
                        if (data.code) {
                            showErrorModal(data.message);
                            return;
                        }
                        window.location.reload();
                    });
                },
                addTeamProblem(evt) {
                    $("#confirm-add-modal > .header").text("您确认要添加此题目吗")
                    $("#confirm-add-modal > .content").text("题目一旦被添加到团队题目中后，就无法再从团队题目列表中删除");
                    $("#confirm-add-modal").modal({
                        onApprove: () => {
                            this.generalAdd({
                                teamID: this.data.id,
                                problems: [parseInt(evt.target.value)],
                                contests: [],
                                problemsets: []
                            });
                        }
                    }).modal("show");
                },
                addTeamContest(evt) {
                    $("#confirm-add-modal > .header").text("您确认要添加此比赛吗")
                    $("#confirm-add-modal > .content").text("比赛一旦被添加到团队比赛中后，就无法再从团队比赛列表中删除");
                    $("#confirm-add-modal").modal({
                        onApprove: () => {
                            this.generalAdd({
                                teamID: this.data.id,
                                problems: [],
                                contests: [parseInt(evt.target.value)],
                                problemsets: []
                            });
                        }
                    }).modal("show");
                },
                addTeamProblemset(evt) {
                    $("#confirm-add-modal > .header").text("您确认要添加此习题集吗")
                    $("#confirm-add-modal > .content").text("习题集一旦被添加到团队习题集中后，就无法再从团队习题集列表中删除");
                    $("#confirm-add-modal").modal({
                        onApprove: () => {
                            this.generalAdd({
                                teamID: this.data.id,
                                problems: [],
                                contests: [],
                                problemsets: [parseInt(evt.target.value)]
                            });
                        }
                    }).modal("show");
                },
                taskScores(task) {
                    let result = [];
                    for (let user of this.data.members) {
                        let current = {
                            username: user.username, uid: user.uid,
                            status: [], totalScore: 0
                        }
                        // result.push(current);
                        for (let problem of task.problems) {
                            let score = problem.scores.find(x => x.uid == user.uid);
                            current.status.push(score);
                            current.totalScore += score.score;
                        }
                        result.push(current);
                    }
                    result.sort(x => -x.totalScore);
                    return result;
                },
                setAdmin(uid, value) {
                    $.post("/api/team/set_admin", { uid: uid, team_id: this.data.id, value: value }).done(ctx => {
                        ctx = JSON.parse(ctx);
                        $.post("/api/team/show", { team_id: window.location.href.split("/").pop() }).done(ctx => {
                            ctx = JSON.parse(ctx);
                            if (ctx.code) {
                                showErrorModal(ctx.message);
                                return;
                            }
                            team.data = ctx.data;
                            team.done = true;
                        });
                        if (ctx.code) {
                            showErrorModal(ctx.message);
                            return;
                        }

                    });
                },
                hasAdminPermission(uid) {
                    return (uid == this.data.owner_id) || this.data.canManage || this.data.admins.includes(uid);
                },
                getPermissionText(uid) {
                    if (uid == this.data.owner_id) return "团队所有者";
                    if (this.data.admins.includes(uid)) return "管理员";
                    return "";
                },
                quit(uid) {
                    $.post("/api/team/quit", { uid: uid, team_id: this.data.id }).done(ctx => {
                        ctx = JSON.parse(ctx);
                        if (ctx.code) {
                            showErrorModal(ctx.message);
                            return;
                        }
                        window.location.reload();
                    });
                }, join() {
                    if (!this.data.hasPermission) {
                        $("#invite-code-input").val("");
                        $("#invite-code-modal").modal({
                            onApprove: () => {
                                let code = $("#invite-code-input").val();
                                console.log(code);
                                $.post("/api/team/join", { uid: this.base.uid, team_id: this.data.id, invite_code: code }).done(ctx => {
                                    ctx = JSON.parse(ctx);
                                    if (ctx.code) {
                                        showErrorModal(ctx.message);
                                        return;
                                    }
                                    window.location.reload();

                                });
                            }
                        }).modal("show");
                    } else {
                        $.post("/api/team/join", { uid: this.base.uid, team_id: this.data.id }).done(ctx => {
                            ctx = JSON.parse(ctx);
                            if (ctx.code) {
                                showErrorModal(ctx.message);
                                return;
                            }
                            window.location.reload();

                        });
                    }

                }
            }
        });
        $.post("/api/team/show", { team_id: window.location.href.split("/").pop() }).done(ctx => {
            ctx = JSON.parse(ctx);
            if (ctx.code) {
                showErrorModal(ctx.message);
                return;
            }
            team.data = ctx.data;
            team.done = true;
        });
    });
</script>

<div id="team" v-if="done">
    <div class="ui header">
        <h1>{[data.name]}</h1>
    </div>
    <div class="ui two column grid">
        <div class="ui row">
            <div class="ui eleven wide column">
                <div v-if="data.hasPermission">
                    <div class="ui top attached tabular menu">
                        <div class="item" v-bind:class="{active:currentTab=='description'}"
                            v-on:click="currentTab='description'">团队描述</div>
                        <div class="item" v-bind:class="{active:currentTab=='problem'}"
                            v-on:click="currentTab='problem'">团队题目</div>
                        <div class="item" v-bind:class="{active:currentTab=='contest'}"
                            v-on:click="currentTab='contest'">团队比赛</div>
                        <div class="item" v-bind:class="{active:currentTab=='problemset'}"
                            v-on:click="currentTab='problemset'">团队习题集</div>

                    </div>
                    <div class="ui bottom attached  tab segment" v-bind:class="{active:currentTab=='description'}">
                        <div v-html="makeHTML(data.description)">
                        </div>
                    </div>
                    <div class="ui bottom attached  tab segment" v-bind:class="{active:currentTab=='problem'}">
                        <div class="ui fluid input" v-if="hasManagerPermission">
                            <input v-on:keyup.enter="addTeamProblem($event)" placeholder="输入题号并按回车添加到团队题目...">
                        </div>
                        <div class="ui tiny green button" style="margin-top: 10px;" v-on:click="unlock">解锁权限</div>
                        <div class="ui list">
                            <div class="item" v-for="item in data.team_problems">
                                <a :href="'/show_problem/'+item.id" target="_blank">{[item.title]}</a>
                            </div>
                        </div>
                    </div>
                    <div class="ui bottom attached  tab segment" v-bind:class="{active:currentTab=='contest'}">
                        <div class="ui fluid input" v-if="hasManagerPermission">
                            <input v-on:keyup.enter="addTeamContest($event)" placeholder="输入比赛ID并按回车添加到团队比赛...">
                        </div>
                        <div class="ui tiny green button" style="margin-top: 10px;" v-on:click="unlock">解锁权限</div>
                        <div class="ui list">
                            <div class="item" v-for="item in data.team_contests">
                                <a :href="'/contest/'+item.id" target="_blank">{[item.name]}</a>
                            </div>
                        </div>
                    </div>
                    <div class="ui bottom attached  tab segment" v-bind:class="{active:currentTab=='problemset'}">
                        <div class="ui fluid input" v-if="hasManagerPermission">
                            <input v-on:keyup.enter="addTeamProblemset($event)" placeholder="输入习题集ID并按回车添加到团队习题集...">
                        </div>
                        <div class="ui tiny green button" style="margin-top: 10px;" v-on:click="unlock">解锁权限</div>
                        <div class="ui list">
                            <div class="item" v-for="item in data.team_problemsets">
                                <a :href="'/problemset/show/'+item.id" target="_blank">{[item.name]}</a>
                            </div>
                        </div>
                    </div>

                </div>


                <div v-else style="font-size: large;" class="ui segment stacked">
                    本团队为私有团队，请先加入后再查看详情
                </div>
                <div class="ui header" v-if="data.hasPermission">
                    <h3>团队任务</h3>
                </div>
                <div v-for="task in data.tasks" v-if="data.hasPermission">
                    <div class="ui header">
                        <h4>{[task.name]}</h4>
                    </div>
                    <div class="ui stack segment">
                        <table class="ui very basic celled table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th v-for="problem in task.problems"><a
                                            :href="'/show_problem/'+problem.id">{[problem.id]}. {[problem.name]}</a>
                                    </th>
                                    <th>总分</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="user,i in taskScores(task)">
                                    <td>
                                        {[i+1]}
                                    </td>
                                    <td><a :href="'/profile/'+user.uid"> {[user.username]}</a></td>
                                    <td v-for="status in user.status"
                                        v-bind:class="{positive:status.status=='accepted',negative:status.status=='unaccepted'}">
                                        <a :href="'/show_submission/'+status.submit_id">{[status.score]}</a>
                                    </td>
                                    <td>{[user.totalScore]}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="ui five wide column">
                <div class="ui segment stacked">
                    <table class="ui very basic celled table">
                        <tr>
                            <td>团队所有者</td>
                            <td><a :href="'/profile/'+data.owner_id">{[data.owner_username]}</a></td>
                        </tr>
                        <tr v-if="data.hasPermission">
                            <td>创建时间</td>
                            <td>{[data.create_time]}</td>
                        </tr>
                    </table>
                    <div v-if="base.uid!=data.owner_id && base.isLogin">
                        <div class="ui red button" v-on:click="quit(base.uid)"
                            v-if="data.members.find((x)=>x.uid==base.uid)">
                            退出团队
                        </div>
                        <div class="ui green button" v-on:click="join" v-else>
                            加入团队
                        </div>
                    </div>
                    <a class="ui green button" :href="'/edit_team/'+data.id"
                        v-if="base.uid==data.owner_id||data.admins.includes(base.uid)">
                        编辑团队信息
                    </a>
                </div>
                <div class="ui header" v-if="data.hasPermission">
                    <h3>管理员列表</h3>
                </div>
                <div class="ui segment stacked" v-if="data.hasPermission">
                    <table class="ui very basic celled table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>用户名</th>
                                <th>权限</th>
                                <th v-if="hasAdminPermission(base.uid)">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="val,index in adminList">

                                <td>{[index+1]}</td>
                                <td><a :href="'/profile/'+val.uid">{[val.username]}</a></td>
                                <td>
                                    <div class="ui toggle checkbox" v-if="val.uid!=data.owner_id">
                                        <input type="checkbox" v-bind:checked="data.admins.includes(val.uid)?true:null"
                                            v-on:click="setAdmin(val.uid,!data.admins.includes(val.uid))">
                                        <label>管理员</label>
                                    </div>
                                    <span v-else>团队所有者</span>
                                </td>
                                <td v-if="hasAdminPermission(base.uid)">
                                    <div class="ui tiny circular red icon button" v-on:click="quit(val.uid)">
                                        <i class="close icon"></i>
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="ui header" v-if="data.hasPermission">
                    <h3>普通用户列表</h3>
                </div>
                <div class="ui segment stacked" v-if="data.hasPermission">
                    <table class="ui very basic celled table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>用户名</th>
                                <!-- <th>权限</th> -->
                                <th v-if="hasAdminPermission(base.uid)">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="val,index in normalMemberList">

                                <td>{[index+1]}</td>
                                <td><a :href="'/profile/'+val.uid">{[val.username]}</a></td>
                                <!-- <td>
                                    <div class="ui toggle checkbox" v-if="val.uid!=data.owner_id">
                                        <input type="checkbox" v-bind:checked="data.admins.includes(val.uid)?true:null"
                                            v-on:click="setAdmin(val.uid,!data.admins.includes(val.uid))">
                                        <label>管理员</label>
                                    </div>
                                    <span v-else>团队所有者</span>
                                </td> -->
                                <td v-if="hasAdminPermission(base.uid)">
                                    <div class="ui tiny buttons">

                                        <div class="ui green tiny button" v-on:click="setAdmin(val.uid,true)">
                                            设为管理
                                        </div>
                                        <div class="ui red tiny button" v-on:click="quit(val.uid)">
                                            删除
                                        </div>

                                    </div>
                                    <!-- <div class="ui tiny circular red icon button">
                                        <i class="close icon"></i>
                                    </div> -->
                                </td>

                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui tiny modal" id="invite-code-modal">
    <div class="header">
        请输入此团队的邀请码
    </div>
    <div class="center aligned content">
        <div class="ui center aligned container">
            <div class="ui fluid input">
                <input id="invite-code-input">
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui red cancel button">
            取消
        </div>
        <div class="ui positive right labeled icon button">
            确认
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>
<div class="ui tiny modal" id="confirm-add-modal">
    <div class="header">

    </div>
    <div class="center aligned content">
        <p></p>
    </div>
    <div class="actions">
        <div class="ui red cancel button">
            取消
        </div>
        <div class="ui positive right labeled icon button">
            确认
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>
{%endblock%}