flask<2.0
flask-migrate
flask-sqlalchemy
flask-script
flask-wtf
flask-socketio
celery
redis
mysql-connector-python
jsonpickle
pyyaml
requests
codeforces-rating
pycryptodome
flask-cors
aliyun-python-sdk-core-v3
eventlet
openpyxl
argon2-cffi
marshmallow
marshmallow-dataclass
ujson
aiofiles
bs4
aiohttp
lxml
sqlalchemy>=1.4.20
python-redis-lock
opencv-python