{%extends "base.html"%}
{%block title%}
编辑比赛提问回复
{%endblock%}
{%block head%}

{%endblock%}
{%block body%}

<script>
    let id = parseInt(window.location.pathname.split("/").pop());
    $(document).ready(() => {
        new Vue({
            mixins: [baseMixin],
            el: "#reply",
            data: {
                done: false,
                data: {},
                loading: false,
                input: ""
            },

            methods: {
                submit() {
                    const doIt = async () => {
                        let ret = await axios.post("/api/contest/clarification/reply", {
                            clarification_id: id,
                            content: this.input
                        });
                        let data = ret.data;
                        if (data.code) {
                            showErrorModal(data.message);
                            return;
                        }
                        showSuccessModal(data.message);

                    };
                    if (this.data.replied) {
                        showConfirmModal("当前提问有其他人回答过，您的回答将会覆盖其他人的回答。您确认要提交吗？", () => {
                            doIt();
                        });
                    } else {
                        doIt();
                    }

                }
            },
            mounted() {
                (async () => {
                    let ret = await axios.post("/api/contest/clarification/detail", {
                        clarification_id: id
                    });
                    let data = ret.data;
                    if (data.code) {
                        showErrorModal(data.message);
                        return;
                    }
                    this.data = data.data;
                    if (this.data.replied) {
                        this.input = this.data.reply_content;
                    }
                    this.done = true;
                })();
            }
        });
    });
</script>


<div v-if="done" id="reply">
    <div class="ui header">
        <h1>
            编辑回复
        </h1>
    </div>
    <div class="ui segment stacked">
        <div class="ui two column grid">
            <div class="row">
                <div class="column" style="width: 65px;"><img v-bind:src="makeProfileImageURL(data.sender.email)"
                        class="ui small circular image"></div>
                <div class="column" style="max-width: 1000px; width: 90%;">
                    <div style="font-size: 10px; color: rgba(0, 0, 0, 0.6); margin-bottom: 10px;"><a
                            v-bind:href="'/profile/'+data.sender.uid" target="_blank">{[data.sender.username]}</a>
                    </div>
                    <div class="ui container" style="overflow-wrap: break-word; word-break: break-all;">
                        <div class="ui segment" v-html="makeHTML(data.content)">

                        </div>
                        <div style="font-size: 10px; color: rgba(0, 0, 0, 0.6); top: 3px;">
                            <div class="ui two column grid">
                                {[data.send_time]}

                            </div>
                        </div>
                    </div>
                    <div class="ui two column grid" v-if="data.replied">
                        <div class="column" style="width: 65px;"><img
                                v-bind:src="makeProfileImageURL(data.replier.email)" class="ui small circular image">
                        </div>
                        <div class="column" style="width: 80%;">
                            <div class="ui container" style="overflow-wrap: break-word; word-break: break-all;">
                                <div class="ui segment" v-html="makeHTML(data.reply_content)">

                                </div>
                                <div style="font-size: 10px; color: rgba(0, 0, 0, 0.6); top: 3px;">
                                    <div class="ui left aligned container">
                                        {[data.reply_time]}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui segment stacked">
        <div class="ui form">
            <div class="ui field">
                <label>回复内容</label>
                <textarea v-model="input"></textarea>
            </div>
            <div class="ui center aligned container">
                <div class="ui green button" v-bind:class="{loading:loading}" v-on:click="submit">
                    提交
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}