{%extends "base.html"%}
{%block title%}
比赛
{%endblock%}
{%block body%}
<script>
    let contest;
    let virtualID = getRequest().virtual_contest || -1;
    $(document).ready(() => {
        contest = new Vue({
            delimiters: ['{[', ']}'],
            el: "#contest",
            mixins: [baseMixin],
            data: {
                data: null,
                done: false,
                virtualID: virtualID,
                clar: {
                    items: [],
                    totalCount: 0,
                    currentPage: 1,
                    content: ""
                }
            },
            computed: {
                showRanklist() {

                    if (this.data.managable) return true;
                    if (this.status(this.data.start_time, this.data.end_time) > 0) return true;
                    if (this.data.ranklist_visible) return true;
                    if (this.base.uid == this.data.owner_id) return true;
                    return false;
                }
            },
            mounted() {
                (async () => {
                    let ctx = await axios.post("/api/contest/show", {
                        contestID: window.location.href.split("/").pop(),
                        virtualID: this.virtualID
                    });
                    ctx = ctx.data;
                    if (ctx.code) {
                        showErrorModal(ctx.message);
                        return;
                    }
                    this.data = ctx.data;
                    if (!this.data.hasPermission) {
                        $("#invite-code-input").val("");
                        $("#invite-code-modal").modal({
                            onApprove: () => {
                                let code = $("#invite-code-input").val();
                                console.log(code);
                                axios.post("/api/contest/unlock", {
                                    contestID: this.data.id,
                                    inviteCode: code
                                }).then(resp => {
                                    let data = resp.data;
                                    if (data.code) {
                                        showErrorModal(data.message);
                                        return;
                                    }
                                    window.location.reload();
                                });
                            }
                        }).modal("show");
                    } else {
                        $("#contest-name").text(contest.data.name);
                        contest.updateProgressBar();
                        setInterval(() => { contest.updateProgressBar(); contest.$forceUpdate(); }, 1);
                        this.loadClarPage(1);
                        contest.done = true;
                    }

                })();


            },
            methods: {
                sendClar() {
                    (async () => {
                        let ret = await axios.post("/api/contest/clarification/send", {
                            contest: this.data.id,
                            content: this.clar.content
                        });
                        let data = ret.data;
                        if (data.code) {
                            showErrorModal(data.message);
                            return;
                        }
                        window.location.reload();
                    })();
                },
                loadClarPage(page) {
                    (async () => {
                        let ret = await axios.post("/api/contest/clarification/all", { contest: this.data.id, page: page });
                        let data = ret.data;
                        if (data.code) {
                            showErrorModal(data.message);
                            return;
                        }
                        this.clar.totalCount = data.pageCount;
                        this.clar.items = data.data;
                        this.clar.currentPage = page;
                    })();
                },
                closeContest() {
                    $("#close-warning-modal").modal({
                        onApprove: () => {
                            axios.post("/api/contest/close", {
                                contestID: this.data.id
                            }).then(resp => {
                                let data = resp.data;
                                if (data.code) {
                                    showErrorModal(data.message);
                                    return;
                                }
                                window.location.reload();
                            });
                        }
                    }).modal("show");
                },
                updateProgressBar() {
                    $("#progress").progress({
                        value: (new Date()).getTime() / 1000 - contest.data.start_time,
                        total: contest.data.end_time - contest.data.start_time
                    });
                    $("#progress").progress("set label", "qwq");

                }, makeTime(timestamp) {
                    return String(new Date(timestamp).toLocaleString());
                }, status(begin, end) {
                    let current = (new Date()).getTime() / 1000;
                    if (current < begin) return -1;
                    else if (current >= begin && current <= end) return 0;
                    else return 1;
                    // return current >= begin && current <= end;

                }, getRemainedTimeString() {
                    let seconds = parseInt((new Date(this.data.end_time * 1000) - new Date()) / 1000);
                    return `${parseInt(seconds / 3600)}:${parseInt(seconds / 60) % 60}:${seconds % 60}`;
                }, removeContest() {
                    $("#warning-modal").modal({
                        onApprove() {
                            axios.post("/api/contest/remove", { contestID: contest.data.id }).then((ctx) => {
                                ctx = ctx.data;

                                if (ctx.code) {
                                    showErrorModal(ctx.message);
                                    return;
                                }
                                window.location.href = '/';
                            })
                        }
                    }).modal("show");
                }
            }
        });

    });
</script>

<div class="ui header ">
    <h1 id="contest-name"></h1>
</div>

<div class="ui stack segment">
    <div class="ui progress success active" id="progress">
        <div class="bar">
            <div class="progress"></div>
        </div>
    </div>
</div>
<div id="contest" v-if="done">
    <div class="ui stack segment">
        <div style="color:red;font-size:large" v-if="data.closed && !data.virtual">
            此比赛已关闭
        </div>
        <div style="color:red;font-size:large" v-if="data.virtual">
            此比赛为虚拟比赛
        </div>

        <table class="ui very basic celled table">
            <tbody>
                <tr>
                    <td>比赛组织者</td>
                    <td><a :href="'/profile/'+data.owner_id">{[data.owner_username]}</a></td>
                </tr>
                <tr>
                    <td>开始时间</td>
                    <td>{[makeTime(data.start_time*1000)]}</td>
                </tr>
                <tr>
                    <td>结束时间</td>
                    <td>{[makeTime(data.end_time*1000)]}</td>
                </tr>
                <tr>
                    <td>状态</td>
                    <td v-if="status(data.start_time,data.end_time)==0" class="positive">
                        剩余{[getRemainedTimeString()]}
                    </td>
                    <td v-else-if="status(data.start_time,data.end_time)<0">尚未开始</td>
                    <td v-else class="negative">已结束</td>
                </tr>

            </tbody>
        </table>
        <a :href="'/contest/ranklist/'+data.id+'?virtual_contest='+virtualID" class="ui yellow tiny button"
            v-if="showRanklist" target="_blank">排行榜</a>
        <a :href="'/contest/edit/'+data.id" class="ui red tiny button"
            v-if="!data.closed&&(data.managable||base.uid==data.owner_id)" target="_blank">编辑</a>
        <a :href="'/submissions/1?filter=contest%3D'+data.id" class="ui red tiny button"
            v-if="(data.managable||base.uid==data.owner_id)&&(!data.virtual)" target="_blank">所有提交</a>
        <a :href="'/submissions/1?filter=contest%3D'+data.id+',uid%3D'+base.uid" class="ui blue tiny button"
            target="_blank" v-if="base.isLogin">我的提交</a>
        <div class="ui red tiny button" v-if="(data.managable||base.uid==data.owner_id)&&(!data.virtual)"
            v-on:click="removeContest">删除比赛
        </div>
        <div v-if="!data.closed&&(data.managable||base.uid==data.owner_id)" class="ui red tiny button" v-if=""
            v-on:click="closeContest">关闭比赛
        </div>
        <a v-if="data.closed&&(!data.virtual)" target="_blank" class="ui green tiny button"
            v-bind:href="'/virtualcontest/create/'+data.id">创建虚拟比赛
        </a>


        <div class="ui divider" v-if="data.description!=''"></div>
        <div v-html="makeHTML(data.description)" v-if="data.description!=''"></div>
    </div>
    <div class="ui segment stacked">
        <table class="ui very basic celled table">
            <thead>
                <tr>
                    <th style="max-width: 100px;">我的提交</th>
                    <th>题目</th>
                    <th v-if="data.rank_criterion=='score'">分数权值</th>
                    <th>统计信息</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="problem in data.problems"
                    v-bind:class="{positive:problem.status=='accepted',negative:problem.status=='unaccepted'}">
                    <td style="max-width: 100px;">
                        <a :href="problem.my_submit!=-1?'/show_submission/'+problem.my_submit:null"
                            style="max-width: 100px;">
                            <judge-status v-bind:status="problem.status"></judge-status>
                        </a>
                    </td>
                    <td><a :href="'/contest/'+data.id+'/problem/'+problem.id+'?virtual_contest='+virtualID">{[problem.id]}.
                            {[problem.title]}</a></td>
                    <td v-if="data.rank_criterion=='score'">{[problem.weight]}</td>
                    <td>
                        <div v-if="problem.accepted_submit!=-1">
                            {[problem.accepted_submit]} / {[problem.total_submit]} /
                            {[parseInt(problem.accepted_submit/problem.total_submit*100)]}%
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="ui header">
        <h3>提问</h3>
    </div>
    <div class="ui stacked segment">
        <div v-for="item in clar.items">
            <!-- {[item]} -->
            <div class="ui two column grid">
                <div class="row">
                    <div class="column" style="width: 65px;"><img v-bind:src="makeProfileImageURL(item.sender.email)"
                            class="ui small circular image"></div>
                    <div class="column" style="max-width: 1000px; width: 90%;">
                        <div style="font-size: 10px; color: rgba(0, 0, 0, 0.6); margin-bottom: 10px;"><a
                                v-bind:href="'/profile/'+item.sender.uid" target="_blank">{[item.sender.username]}</a>
                        </div>
                        <div class="ui container" style="overflow-wrap: break-word; word-break: break-all;">
                            <div class="ui segment" v-html="makeHTML(item.content)">

                            </div>
                            <div style="font-size: 10px; color: rgba(0, 0, 0, 0.6); top: 3px;">
                                <div class="ui two column grid">
                                    <div class="ui column">
                                        <div class="ui left aligned container">
                                            {[item.send_time]}
                                        </div>
                                    </div>
                                    <div class="ui column">
                                        <div class="ui right aligned container">
                                            <a v-if="data.managable"
                                                v-bind:href="'/contest/clarification/edit/'+item.id" target="_blank">
                                                编辑回复
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="ui two column grid" v-if="item.replied">
                            <div class="column" style="width: 65px;"><img
                                    v-bind:src="makeProfileImageURL(item.replier.email)"
                                    class="ui small circular image">
                            </div>
                            <div class="column" style="width: 80%;">
                                <div class="ui container" style="overflow-wrap: break-word; word-break: break-all;">
                                    <div class="ui segment" v-html="makeHTML(item.reply_content)">

                                    </div>
                                    <div style="font-size: 10px; color: rgba(0, 0, 0, 0.6); top: 3px;">
                                        <div class="ui left aligned container">
                                            {[item.reply_time]}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui divider"></div>
        </div>
        <page-menu v-bind:page-count="clar.totalCount" v-bind:current-page="clar.currentPage"
            v-bind:callback="loadClarPage"> </page-menu>
        <div class="ui divider"></div>
        <div v-if="!data.virtual&&status(data.start_time,data.end_time)==0">
            <div class="ui header">
                <h4>发送提问</h4>
            </div>
            <div class="ui form">
                <div class="ui field">
                    <label>内容</label>
                    <textarea v-model="clar.content"></textarea>
                </div>
                <div class="ui center aligned container">
                    <div class="ui green button" v-on:click="sendClar">
                        发送
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="ui modal" id="warning-modal">
    <div class="ui header">
        警告
    </div>
    <div class="content">
        <p>删除比赛会产生以下后果</p>
        <p>1.所有此次比赛中的提交会被删除</p>
        <!-- <p>2.所有用户中，因为此次比赛而改变的rating将会被忽略</p> -->
    </div>
    <div class="actions">
        <div class="ui green approve button">
            确定
        </div>
        <div class="ui blue cancel button">
            取消
        </div>
    </div>
</div>
<div class="ui tiny modal" id="invite-code-modal">
    <div class="header">
        请输入此比赛的邀请码
    </div>
    <div class="center aligned content">
        <div class="ui center aligned container">
            <div class="ui fluid input">
                <input id="invite-code-input">
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui red cancel button">
            取消
        </div>
        <div class="ui positive right labeled icon button">
            确认
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>
<div class="ui modal" id="close-warning-modal">
    <div class="ui header">
        警告
    </div>
    <div class="content">
        <p>关闭比赛会产生以下后果</p>
        <p>1.此比赛的设置将不会再允许更改</p>
        <p>2.所有用户将不再可查看该比赛的题目以及在比赛中进行提交(虚拟比赛除外)</p>
        <p>3.该比赛将可被用于Virtual Participate</p>
        <p>4.此操作不可逆</p>
        <!-- <p>2.所有用户中，因为此次比赛而改变的rating将会被忽略</p> -->
    </div>
    <div class="actions">
        <div class="ui green approve button">
            确定
        </div>
        <div class="ui blue cancel button">
            取消
        </div>
    </div>
</div>
{%endblock%}