{%extends "base.html"%}
{%block title%}
比赛排名
{%endblock%}
{%block body%}
<script>
    let virtualID = getRequest().virtual_content || -1;
    let contestID = parseInt(window.location.pathname.split("/").pop());
    $(document).ready(() => {
        new Vue({
            delimiters: ['{[', ']}'],
            el: "#ranklist",
            mixins: [baseMixin],
            data: {
                data: null,
                done: false,
                contestID: contestID,
                virtualID: virtualID
            }, mounted() {
                (async () => {
                    let resp = await axios.post("/api/contest/ranklist", {
                        contestID: this.contestID,
                        virtualID: this.virtualID
                    });
                    let data = resp.data;
                    if (data.code) {
                        showErrorModal(data.message);
                        return;
                    }
                    this.data = data.data;
                    this.done = true;
                })();
            }
        });
    });
</script>



<div id="ranklist" v-if="done">
    <div class="ui header ">
        <h1>{[data.name]} - 排行榜</h1>
    </div>
    <div class="ui segment stacked" style="overflow-x: scroll;max-height: 1000px;">
        <table class="ui very basic  table">
            <thead>
                <tr class="ui sticky">
                    <th></th>
                    <th>用户名</th>
                    <th class="center aligned">
                        总分
                    </th>
                    <th v-for="problem in data.problems" class="center aligned" style="min-width: 100px;">
                        <a :href="'/contest/'+data.contest_id+'/problem/'+problem.id">{[problem.id]}.
                            {[problem.name]}</a>
                        <div><span style="color:green">{[problem.accepted_submit]}</span>/{[problem.total_submit]}</div>
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr v-for="line,i in data.ranklist">
                    <td class="center aligned">
                        <div class="ui yellow ribbon label" v-if="line.rank==1">
                            1
                        </div>
                        <div class="ui  ribbon label" v-else-if="line.rank==2">
                            2
                        </div>
                        <div class="ui brown ribbon label" v-else-if="line.rank==3">
                            3
                        </div>
                        <div v-else>
                            {[line.rank]}
                        </div>
                    </td>
                    <td>
                        <a :href="'/profile/'+line.uid">{[line.username]}</a>
                        <div class="ui tiny red label" v-if="line.virtual">
                            虚拟提交
                        </div>
                    </td>
                    <td class="center aligned">
                        <span v-if="data.using_penalty==false">
                            <div style="color: green;">{[line.total.score]}</div>
                            <div style="color: red;">
                                {[line.total.submit_time_sum]}
                            </div>
                        </span>
                        <span v-else>
                            <div style="color:green">{[line.total.ac_count]}</div>
                            <div style="color:red">{[line.total.penalty]}</div>
                        </span>
                    </td>
                    <td class="center aligned" v-for="item in line.scores"
                        v-bind:class="{positive:item.status=='accepted',negative:item.status=='unaccepted'}">
                        <div v-if="item.submit_id!=-1">
                            <a :href="'/show_submission/'+item.submit_id">
                                <span v-if="data.using_penalty==false">
                                    <div>
                                        {[item.score]}
                                    </div>
                                    <div style="color: red;">
                                        {[item.submit_time]}
                                    </div>
                                </span>
                                <span v-else>
                                    <div v-if="item.status=='accepted'">
                                        <div>-{[item.submit_count]}</div>
                                        <div style="color:red">{[item.penalty]}</div>
                                    </div>
                                    <div v-else>-{[item.submit_count]}</div>
                                </span>
                            </a>
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>

{%endblock%}