{%extends "base.html"%}
{%block title%}
虚拟比赛列表
{%endblock%}
{%block body%}

<script>
    $(document).ready(() => {
        new Vue({
            mixins: [baseMixin],
            el: "#list",
            data: {
                done: false,
                pageCount: 0,
                currentPage: -1,
                data: []
            },

            methods: {
                makeTimeString(timestamp) {
                    return new Date(timestamp * 1000).toLocaleString();
                },
                makeStatusString(startStamp, endStamp) {
                    let now = new Date().getTime() / 1000;
                    if (now >= endStamp) return "已结束";
                    else if (now >= startStamp && now <= endStamp) return "正在进行";
                    else return "尚未开始";
                },
                makeStatusState(startStamp, endStamp) {
                    let now = new Date().getTime() / 1000;
                    if (now >= endStamp) return "negative";
                    else if (now >= startStamp && now <= endStamp) return "positive";
                    else return null;
                },
                switchPage(page) {
                    axios.post("/api/virtualcontest/list", { page: page }).then(resp => {
                        let data = resp.data;
                        if (data.code) {
                            showErrorModal(data.message);
                            return;
                        }
                        this.pageCount = data.pageCount;
                        this.currentPage = page;
                        this.data = data.data;
                    });
                }
            },
            mounted() {
                axios.post("/api/virtualcontest/list", { page: 1 }).then(resp => {
                    let data = resp.data;
                    if (data.code) {
                        showErrorModal(data.message);
                        return;
                    }
                    this.pageCount = data.pageCount;
                    this.currentPage = 1;
                    this.data = data.data;
                    this.done = true;
                });
            }
        });
    });
</script>


<div v-if="done" id="list">
    <div class="ui header">
        <h1>虚拟比赛列表</h1>
    </div>
    <div class="ui segment stacked">
        <table class="ui center aligned table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>原始比赛</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in data">
                    <td>{[item.id]}</td>
                    <td>
                        <a :href="'/contest/'+item.contest.id" target="_blank">#{[item.contest.id]}.
                            {[item.contest.name]}</a>
                    </td>
                    <td>
                        {[makeTimeString(item.startTime)]}
                    </td>
                    <td>
                        {[makeTimeString(item.endTime)]}
                    </td>
                    <td v-bind:class="[makeStatusState(item.startTime,item.endTime)]">
                        {[makeStatusString(item.startTime,item.endTime)]}
                    </td>
                    <td>
                        <a class="ui tiny green button" :href="'/contest/'+item.contest.id+'?virtual_contest='+item.id"
                            target="_blank">前往</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <page-menu :page-count="pageCount" :callback="switchPage" :current-page="currentPage"></page-menu>
    </div>
</div>
{%endblock%}