<html>

<head>
    <meta charset="utf-8">
    {%if DEBUG%}
    <script src="/static/jquery-3.3.1.js"></script>
    <script src="/static/vue.js"></script>
    <script src="/static/semantic.js"></script>
    <script src="/static/jquery.cookie.js"></script>
    <link rel="stylesheet" href="/static/semantic.css">
    <script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.js"></script>
    {%else%}
    <!-- <script src="/static/clipboard.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script> -->
    <script src="//cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>
    <script src="//cdn.staticfile.org/vue/2.5.17/vue.min.js"></script>
    <script src="//cdn.staticfile.org/semantic-ui/2.3.3/semantic.min.js"></script>
    <link href="//cdn.staticfile.org/semantic-ui/2.3.3/semantic.min.css" rel="stylesheet">
    <!-- <script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.min.js"></script> -->
    <script src="https://cdn.staticfile.org/axios/0.19.2/axios.min.js"></script>
    {%endif%}
    <script>
        const CSRF_TOKEN = "{%if USING_CSRF_TOKEN %} {{csrf_token() }} {%else%}{%endif%}";

        axios.interceptors.request.use((config) => {
            // config.headers['X-Requested-With'] = 'XMLHttpRequest';
            // config.headers["content-type"] = "application/x-www-form-urlencoded";
            config.headers["X-CSRFtoken"] = CSRF_TOKEN;
            return config;
        });
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFtoken", CSRF_TOKEN);
            }, error: function (xhr, status, err) {
                show_error_modal(xhr.responseText, xhr.status + " " + err);
                throw err;
            }
        });
        const getRequest = function () {
            var url = location.search; //获取url中"?"符后的字串  
            var theRequest = new Object();
            if (url.indexOf("?") != -1) {
                var str = url.substr(1);
                strs = str.split("&");
                for (var i = 0; i < strs.length; i++) {
                    theRequest[strs[i].split("=")[0]] = decodeURIComponent(strs[i].split("=")[1]);
                }
            }
            return theRequest;
        }
        const judge_status = {
            done: false, data: {}
        };
        Vue.component("score-label", {
            delimiters: ["{[", "]}"],
            props: ["score", "full_score"],
            methods: {
                get_text_color(ratio) {
                    ratio *= 100;
                    if (ratio <= 50) return "red";
                    else if (ratio <= 70) return "orange";
                    else if (ratio < 100) return "darkorange";
                    else return "green";
                }
            }, template: "<span :style=\"'font-weight: bold;color: '+get_text_color(score/full_score)\">{[score]}/{[full_score]}</span>"
        });
        Vue.component("judge-status", {
            delimiters: ['{[', ']}'],
            props: ["status"],
            template: "<div :class='\"ui \"+get_color(status)+\" label\"'><i :class='get_icon(status) '></i>{[get_text(status)]}</div>",
            data() {
                return {
                    judgeStatus: judge_status
                }
            },
            methods: {
                get_icon: function (x) {
                    if (!this.judgeStatus.done) return "";
                    return this.judgeStatus.data[x].icon;

                }, get_color: function (x) {
                    if (!this.judgeStatus.done) return "black";
                    return this.judgeStatus.data[x].color;
                }, get_text(x) {
                    if (!this.judgeStatus.done) return x;
                    if (this.judgeStatus.data.hasOwnProperty(x))
                        return this.judgeStatus.data[x].text;
                    else return x;
                }
            }
        });
        $.post("/api/get_judge_status").done(ctx => {
            ctx = JSON.parse(ctx);
            judge_status.done = true;
            Vue.set(judge_status, "data", ctx.data);
            // judge_status.data = ctx.data;
        });
    </script>
    {%block head%}{%endblock%}
</head>

<body>
    {%block body%}{%endblock%}
</body>

</html>