{%extends "card/base.html"%}
{%block body%}
<script>
    $(document).ready(() => {
        let problemCard = new Vue({
            delimiters: ['{[', ']}'],
            el: "#problem-card",
            data: {
                data: {},
                done: false
            },
            mounted() {
                let id = parseInt(window.location.pathname.split("/").pop());
                axios.post("/api/card/problem", { problemID: id }).then(resp => {
                    this.data = resp.data.data;
                    this.done = true;
                });
            }
        });
    });
</script>
<div id="problem-card" v-if="done">
    <div class="ui segment" style="width:fit-content">
        <div class="ui one column grid">
            <div class="ui column">
                <a :href="'/show_problem/'+data.id" target="_blank">{[data.id]}. {[data.title]}</a>
                提交: {[data.submitCount]} | 通过: {[data.acceptedCount]}
            </div>
        </div>
        <div v-if="Object.keys(data.myStatus).length!==0">
            <a :href="'/show_submission/'+data.myStatus.submissionID" target="_blank">
                <score-label :score='data.myStatus.score' :full_score="data.myStatus.fullScore"></score-label>
                <judge-status :status="data.myStatus.status"></judge-status>
            </a>
        </div>
    </div>
</div>
{%endblock%}