{%extends "card/base.html"%}
{%block head%}

{%endblock%}
{%block body%}
<script>
    const request = getRequest();
    let phone = request.phone;
    let mustNotUse = request.must_not_used || false;
    console.log("phone", "=", phone);
    let vueObj = null;
    var reCaptchaLoadOK = () => {
        vueObj.init();
    };
    $(document).ready(() => {
        vueObj = new Vue({
            delimiters: ['{[', ']}'],
            el: "#sms-card",
            data: {
                phone: phone,
                done: false,
                errorMessage: "",
                successMessage: "",
                loading: false,
                sended: false,
                site_key: "",
                response: {},
                reCaptchaLoading: true,
                blockAuthed: false
            },
            methods: {
                init() {
                    axios.post("/api/phoneutil/preparation").then(resp => {
                        let data = resp.data.data;
                        this.site_key = data.site_key;
                        this.done = true;
                        this.$nextTick(() => {
                            console.log("Rendering reCaptcha..");
                            vueObj.reCaptchaLoading = false;
                            grecaptcha.render('recaptcha', {
                                sitekey: this.site_key,
                                callback: () => {
                                    this.blockAuthed = true;
                                    this.response = grecaptcha.getResponse();
                                }
                            });
                        });
                    });
                },
                close() {
                    try {
                        parent.window.closeModal(this.sended);
                    } catch (e) {
                        console.error(e);
                    }
                    window.close();
                },
                sendCode() {
                    this.loading = true;
                    this.sended = true;
                    this.errorMessage = this.successMessage = "";
                    axios.post("/api/phoneutil/sendcode", {
                        phone: this.phone,
                        client_response: this.response,
                        must_not_use: mustNotUse
                    }).then(resp => {
                        this.loading = false;
                        grecaptcha.reset();
                        let data = resp.data;
                        if (data.code) {
                            this.errorMessage = data.message;
                            return;
                        } else {
                            this.sended = true;
                            this.successMessage = data.message;
                        }
                    });
                },
            }
        });
    });

</script>
<div id="sms-card" v-if="done">
    <div class="ui center aligned container">
        <div class="ui stacked segment" style="top:50%">
            <div class="ui active dimmer" v-if="!done">
                <div class="ui loader"></div>
            </div>
            <div class="ui form" v-bind:class="{error:errorMessage!='',success:successMessage!=''}">
                <div class="ui dimmer" v-if="reCaptchaLoading">
                    <div class="ui loader"></div>
                </div>
                <div v-once style="margin-bottom: 30px;">
                    <div class="ui three column center aligned grid">
                        <div class="ui column">
                            <div id="recaptcha" data-callback="reCaptchaAuthOK"></div>

                        </div>
                    </div>
                </div>
                <div class="ui error message">
                    <div class="header">错误</div>
                    <p>{[errorMessage]}</p>
                </div>
                <div class="ui success message">
                    <div class="header">成功</div>
                    <p>{[successMessage]}</p>
                </div>
                <div class="ui green button" v-on:click="close">
                    关闭
                </div>
                <div class="ui green button" v-bind:class="{loading:loading}" v-on:click="sendCode" v-if="blockAuthed">
                    {[sended?"重发验证码":"发送验证码"]}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://www.recaptcha.net/recaptcha/api.js?onload=reCaptchaLoadOK&render=explicit" async defer></script>

{%endblock%}