{%extends "base.html"%}
{%block title%}
初赛题库
{%endblock%}
{%block body%}

<script>
    $(document).ready(() => {
        new Vue({
            mixins: [baseMixin],
            data: {
                done: false,
                page: -1,
                pageCount: 0,
                data: []
            },
            el: "#preliminary-contests",
            methods: {
                loadPage(page) {
                    axios.post("/api/preliminary/contest/list", {
                        page: page
                    }).then(resp => {
                        let data = resp.data;
                        if (data.code) {
                            showErrorModa(data.message);
                            return;
                        }
                        this.page = page;
                        this.pageCount = data.pageCount;
                        this.data = data.data;
                        this.done = true;
                    });
                }
            },
            mounted() {
                this.loadPage(1);
            }
        });
    });
</script>
<div id="preliminary-contests" v-if="done">
    <div class="ui header">
        <h1>初赛题库</h1>
    </div>
    <div class="ui segment stacked">
        <table class="ui center aligned table">
            <thead>
                <tr>
                    <th>比赛ID</th>
                    <th>比赛标题</th>
                    <th>比赛时常</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in data">
                    <td>{[item.id]}</td>
                    <td>
                        <a :href="'/preliminary/'+item.id" target="_blank">
                            {[item.title]}
                        </a>
                    </td>
                    <td>
                        {[parseInt(item.duration/60)]} 分钟
                    </td>
                </tr>
            </tbody>
        </table>
        <page-menu :page-count="pageCount" :callback="loadPage" :current-page="page"></page-menu>
    </div>
</div>
{%endblock%}