{%extends "base.html"%}
{%block title%}
PLACEHOLDER - 查看初赛
{%endblock%}
{%block body%}

<script>
    const LETTERS = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
    let page = parseInt(window.location.pathname.split("/").pop());
    $(document).ready(() => {
        new Vue({
            mixins: [baseMixin],
            data: {
                done: false,
                problems: [],
                currentProblem: 0,
                showProblems: false,
                data: {},
                myAnswers: {},
                showResult: {}
                /*
                    每个题形如"大题-小题"
                */

            },
            el: "#preliminary-contest",
            methods: {
                checkFillBlank(problemIndex, question) {
                    let id = `${this.problems[problemIndex].problemID}-${question}`;
                    return this.problems[problemIndex].questions[question].answers.includes(this.myAnswers[id]);
                },
                checkSelection(problemIndex, question) {
                    let id = `${this.problems[problemIndex].problemID}-${question}`;
                    let answer = new Set(this.problems[problemIndex].questions[question].answers);
                    let myAnswer = new Set(this.myAnswers[id]);
                    if (answer.size != myAnswer.size) {
                        return false;
                    }
                    for (let item of myAnswer.keys()) {
                        if (answer.has(item) === false) {
                            return false;
                        }
                    }
                    return true;
                },
                ifShowResult(problem, question) {
                    return this.showResult[problem]
                },
                check() {
                    this.showResult[this.problems[this.currentProblem].problemID] = true;
                },

                selectionJoin(problem, question, answer, remove) {
                    let id = `${problem}-${question}`;
                    // console.log(id, "join", answer, remove, typeof this.myAnswers[id]);
                    if (remove) {
                        this.myAnswers[id] = [answer];
                    } else {
                        console.log(this.myAnswers);
                        if (!(answer in this.myAnswers[id])) {
                            this.myAnswers[id].push(answer);
                        }
                    }
                },
                selectionRemove(problem, question, answer) {
                    let id = `${problem}-${question}`;
                    this.myAnswers[id] = this.myAnswers[id].filter(item => item != answer);
                },
                selectionExists(problem, question, answer) {
                    let id = `${problem}-${question}`;
                    // console.log("testing", id, answer, this.myAnswers[id], this.myAnswers[id].includes(answer));
                    return this.myAnswers[id].includes(answer);
                },
                allowMultiple(item) {
                    return item.answers.length !== 1;
                },
                getLetter(index) {
                    return LETTERS.charAt(index);
                },
                makeArray(elem, length) {
                    let result = [];
                    for (let i = 0; i < length; i++) result.push(elem);
                    return result;
                },
                makeIDString(problem, question) {
                    return `${problem}-${question}`;
                }
            },

            computed: {
                current() {
                    return this.data.problems[this.currentProblem];
                },
                problemCount() {
                    return this.data.problems.length;
                },
                totalScore() {
                    let score = 0;
                    for (let item of this.data.problems) {
                        score += item.score;
                    }
                    return score;
                },
            },
            mounted() {
                axios.post("/api/preliminary/contest/detail", {
                    id: page
                }).then(resp => {
                    let data = resp.data;
                    if (data.code) {
                        showErrorModal(data.message);
                        return;
                    }
                    this.data = data.data;
                    this.problems = this.data.problems;
                    for (let problem of this.problems) {
                        for (let i = 0; i < problem.questions.length; i++) {
                            let question = problem.questions[i];
                            if (problem.problemType === "selection")
                                Vue.set(this.myAnswers, `${problem.problemID}-${i}`, []);
                            else
                                Vue.set(this.myAnswers, `${problem.problemID}-${i}`, "");

                            Vue.set(this.showResult, `${problem.problemID}`, false);
                        }
                    }

                    document.title = document.title.replace(/PLACEHOLDER/g, this.data.title);
                    document.body.onkeydown = evt => {
                        if (evt.target.tagName.toLowerCase() === "input") return;
                        console.log(evt);
                        if (evt.code == "Enter") {
                            this.check();
                        } else if (evt.key == "ArrowLeft") {
                            if (this.currentProblem > 0) this.currentProblem--;
                        } else if (evt.key == "ArrowRight") {
                            if (this.currentProblem + 1 < this.problemCount) this.currentProblem++;
                        } else if (LETTERS.includes(evt.key.toUpperCase())) {
                            const item = evt.key.toUpperCase();
                            // console.log(item);
                            let current = this.problems[this.currentProblem];
                            if (current.problemType == "selection") {
                                for (let i = 0; i < current.questions.length; i++) {
                                    if (this.myAnswers[`${current.problemID}-${i}`].length == 0) {
                                        this.myAnswers[`${current.problemID}-${i}`] = [item];
                                        break;
                                    }
                                }
                            }
                        }
                    };
                    this.done = true;
                });
            }
        });
    });
</script>
<div id="preliminary-contest" v-if="done">
    <div class="ui header">
        <h1>{[data.title]}</h1>
    </div>
    <div class="ui segment stacked">
        <div v-if="!showProblems">
            <div class="ui form">
                <div class="ui field" v-if="data.description">
                    <label>比赛简介</label>
                    <div v-html="makeHTML(data.description)"></div>
                </div>
                <div class="ui field">
                    <label>比赛时长</label>
                    <div>{[parseInt(data.duration/60)]} 分钟</div>
                </div>
                <div class="ui field">
                    <label>比赛提供者</label>
                    <div>
                        <a :href="'/profile/'+data.uploader.uid" target="_blank">{[data.uploader.username]}</a>
                    </div>
                </div>
                <div class="ui field">
                    <label>上传时间</label>
                    <div>{[data.upload_time]}</div>
                </div>
                <div class="ui right labeled green icon button" v-on:click="showProblems=true">
                    <i class="right arrow icon"></i>
                    进入比赛
                </div>
            </div>
        </div>
        <div class="ui container" v-else>
            <div class="ui header">
                <h3>第 {[currentProblem+1]} 题 ({[current.score]} 分)</h3>
            </div>
            <div v-html="makeHTML(current.content)" style="margin-bottom: 20px;"></div>
            <div v-if="current.problemType=='selection'">
                <div v-for="(question,i) in current.questions">
                    <p> [ {[allowMultiple(question)?"多项选择题":"单项选择题"]} ({[question.score]} 分) ]</p>
                    <div v-if="ifShowResult(current.problemID,i)">
                        <div v-if="checkSelection(currentProblem,i)" style="color: green;">
                            答案正确
                        </div>
                        <div v-else style="color:red">答案错误! 正确答案为:
                            {[problems[currentProblem].questions[i].answers.join()]}
                        </div>

                    </div>
                    <div class="ui left aligned list">
                        <div class="ui item" v-for="choice,j in question.choices">
                            <div class="ui checkbox"
                                v-on:click="selectionExists(current.problemID,i,getLetter(j))?selectionRemove(current.problemID,i,getLetter(j)):selectionJoin(current.problemID,i,getLetter(j),!allowMultiple(question))">
                                <input type="checkbox"
                                    :checked="selectionExists(current.problemID,i,getLetter(j))?true:null">
                                <label>
                                    <div v-html="makeHTML(getLetter(j)+'. '+choice)"></div>
                                </label>
                            </div>

                        </div>
                    </div>
                    <div class="ui divider"></div>
                </div>
            </div>
            <div v-else-if="current.problemType=='fill_blank'">
                <div class="ui form">
                    <div v-for="(question,i) in current.questions" class="ui field">
                        <label>[ 填空题 ({[question.score]} 分) ]</label>
                        <div v-if="ifShowResult(current.problemID,i)">
                            <div v-if="checkFillBlank(currentProblem,i)" style="color: green;">
                                答案正确
                            </div>
                            <div v-else style="color:red">答案错误! 正确答案为:
                                {[problems[currentProblem].questions[i].answers.join("或")]}
                            </div>

                        </div>
                        <div v-if="!question.multiline" class="ui fluid input">
                            <input type="text" v-model="myAnswers[makeIDString(current.problemID,i)]">
                        </div>
                        <textarea v-model="myAnswers[makeIDString(current.problemID,i)]" v-else></textarea>
                        <div class="ui divider"></div>
                    </div>
                </div>

            </div>
            <!-- {[current]} -->
            <div class="ui buttons">
                <div class="ui left labeled icon red button" v-bind:class="{disabled:currentProblem==0}"
                    v-on:click="currentProblem--">
                    <i class="angle left icon"></i>
                    上一题
                </div>
                <div class="ui left labeled blue icon button" v-on:click="check"><i class="checkmark icon"></i>
                    校验
                </div>
                <div class="ui right labeled icon green button" v-bind:class="{disabled:currentProblem==problemCount-1}"
                    v-on:click="currentProblem++">
                    <i class="angle right icon"></i>
                    下一题
                </div>


            </div>
            <div>
                提示: 按Enter可以校验当前题目的答案，按左右方向键可以快速切换题目。按相应选项的按键可以快速进行选择。
            </div>
        </div>
    </div>

</div>
{%endblock%}