{%extends "base.html"%}
{%block head%}

<style>
    .problem-meta {
        padding-bottom: 30px;
        word-wrap: break-all;
    }
</style>

{%endblock%}
{%block body%}

<!-- <script src="/static/vue2-ace.js"></script> -->
<script>

    var show_problem;

    $(document).ready(() => {
        // ace.require("ace/ext/language_tools");
        show_problem = new Vue({
            el: "#show-problem",
            delimiters: ['{[', ']}'],
            mixins: [baseMixin],
            data: {
                data: {},
                langs: {},
                selected_id: "",
                code: "",
                uploader_profile: {},
                done: false,
                recent_discussion: [],
                usedParameters: []
            }, methods: {
                toggleTodoState(evt) {
                    evt.target.classList.add("loading");
                    if (this.data.inTodoList) {
                        axios.post("/api/problemtodo/remove", {
                            problemID: this.data.id
                        }).then(resp => {
                            evt.target.classList.remove("loading");
                            let data = resp.data;
                            if (data.code) {
                                showErrorModal(data.message);
                                return;
                            }
                            this.data.inTodoList = false;
                        });
                    } else {
                        axios.post("/api/problemtodo/add", {
                            problemID: this.data.id
                        }).then(resp => {
                            evt.target.classList.remove("loading");
                            let data = resp.data;
                            if (data.code) {
                                showErrorModal(data.message);
                                return;
                            }
                            this.data.inTodoList = true;
                        });
                    }
                },
                submit: function () {
                    $.post("/api/submit", {
                        problem_id: show_problem.data.id,
                        code: show_problem.code,
                        language: show_problem.selected_id,
                        contest_id: -1,
                        usedParameters: JSON.stringify(show_problem.usedParameters)
                    }).done(ctx => {
                        ctx = JSON.parse(ctx);
                        if (ctx.code) {
                            show_error_modal(ctx.message);
                            return;
                        }
                        window.location.href = "/show_submission/" + ctx.submission_id;
                    })
                }, removeProblem() {
                    $("#warning-modal").modal({
                        onApprove: function () {
                            $.post("/api/problem/remove", { problem_id: show_problem.data.id }).done(ctx => {
                                ctx = JSON.parse(ctx);
                                if (ctx.code) {
                                    showErrorModal(ctx.message);
                                    return;
                                }
                                window.location.href = "/";
                            })
                        },
                        closable: false
                    }).modal("show");
                }
            }, watch: {
            }, computed: {
                total_score: function () {
                    var result = 0;
                    this.data.subtasks.forEach((x) => result += x.score);
                    return result;
                }
            }
        });
        Vue.component("problem-meta", {
            delimiters: ['{[', ']}'],
            data() {
                return {
                    "html_content": ""
                }
            },
            template: '<div class="ui container problem-meta"  v-if="value!=\'\'"><div class="ui fluid two column grid"><div class="ui column">\
                            <div class="ui header"><h3>{[name]}</h3></div></div><div class="ui right aligned column">\
                                <div class="ui tiny orange circular icon button" v-on:click="copy_text(value)"><i class="clipboard outline icon"></i></div>\
                                    </div></div>    <div class="ui stack segment"><div  v-html="html_content" v-if="!use_pre"></div><pre v-html="html_content" style="white-space:pre-wrap;word-break:break-word;" v-else></pre>    </div></div>',
            props: {
                //内容
                value: {
                    type: String, default: ""
                }, name: {
                    //显示名
                    type: String, default: ""
                }, render: {
                    //是否渲染Markdown
                    type: Boolean, default: true
                }, use_pre: {
                    //是否使用预格式化块
                    type: Boolean, default: false
                }
            },
            methods: {
                copy_text: copy_text
            }, mounted() {
                // const converter = new showdown.Converter();
                if (this.render)
                    this.html_content = converter.makeHtml(this.value);
                else {
                    this.html_content = this.value;
                }
                $(".ui.sticky").sticky({ context: "#target" })
            }
        });


        $.post("/api/get_problem_info", { id: parseInt(window.location.href.split("/").pop()) }).done(ctx => {
            ctx = JSON.parse(ctx);
            if (ctx.code != 0) {
                $("#no-perm-text").text(ctx.message);
                $("#no-perm-modal").modal("show");
                return;
            }
            $("title").text(ctx.data.title + " - " + ctx.data.id + " - {{APP_NAME}}");

            show_problem.data = ctx.data;

            if (!show_problem.data.hasPermission) {
                $("#invite-code-input").val("");
                $("#invite-code-modal").modal({
                    onApprove: () => {
                        let code = $("#invite-code-input").val();
                        console.log(code);
                        axios.post("/api/problem/unlock", {
                            problemID: show_problem.data.id,
                            inviteCode: code
                        }).then(resp => {
                            let data = resp.data;
                            if (data.code) {
                                showErrorModal(data.message);
                                return;
                            }
                            window.location.reload();
                        });
                    }
                }).modal("show");
            } else {
                show_problem.code = show_problem.data.last_code;
                show_problem.usedParameters = ctx.data.lastUsedParameters;
                if (show_problem.data.problem_type === "remote_judge") {
                    window.location.href = "/remote_judge/show_problem/" + show_problem.data.id;
                }
                $.post("/api/get_user_profile", { uid: ctx.data.uploader_id }).done(ctx => {
                    ctx = JSON.parse(ctx);
                    show_problem.uploader_profile = ctx.data;
                    $.post("/api/get_supported_langs").done((ctx) => {
                        ctx = JSON.parse(ctx);
                        var obj = {}
                        ctx.list.forEach((x) => {
                            obj[x.id] = x;
                        })
                        show_problem.langs = obj;
                        if (show_problem.data.last_lang != "") {
                            show_problem.selected_id = show_problem.data.last_lang;
                        } else {
                            show_problem.selected_id = ctx.list[0].id;
                        }
                        axios.post("/api/get_discussion_list", { path: "discussion.problem." + show_problem.data.id, page: 1, countLimit: 10 }).then(ctx => {
                            ctx = ctx.data;
                            // ctx = JSON.parse(ctx);
                            if (ctx.code) {
                                show_error_modal(ctx.message);
                                return;
                            }
                            show_problem.recent_discussion = ctx.data;
                            console.log(ctx);
                            show_problem.done = true;

                        });

                    })
                });
            }
        });

    });

</script>
<div style="top:10%;" id="show-problem" v-if="done">
    <div class="ui header">
        <h1> {[data.id]}: {[data.title]} </h1>
    </div>
    <div class="ui segment" id="target" style="max-width: 70%;">
        <div class="ui right rail">
            <div class="ui sticky">
                <div class="ui segment stacked" style="max-width: 300px">
                    <table class="ui very basic fluid collapsing celled table">

                        <tbody>
                            <tr>
                                <td>题目上传者</td>
                                <td style="word-break: break-all;"><a
                                        :href="'/profile/'+uploader_profile.id">{[uploader_profile.username]}</a></td>
                            </tr>
                            <tr>
                                <td>上传时间</td>
                                <td style="word-break: break-all;">{[data.create_time]}</td>
                            </tr>

                            <tr>
                                <td>是否公开</td>
                                <td>{[data.public?"Yes":"No"]}</td>
                            </tr>
                            <tr>
                                <td>题目分数</td>
                                <td>{[total_score]}</td>
                            </tr>
                            <tr>
                                <td>我的提交</td>
                                <td>
                                    <div v-if="data.my_submission==-1">尚未提交</div><a v-else
                                        :href="'/show_submission/'+data.my_submission" target="_blank">
                                        <judge-status :status="data.my_submission_status"></judge-status>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>通过数/提交数/通过率</td>
                                <td>{[data.accepted_count]}/{[data.submission_count]}/{[parseInt(100*data.accepted_count/data.submission_count)]}%
                                </td>
                            </tr>
                            <tr v-if="data.using_file_io" style="word-break: break-all;">
                                <td>输入/输出文件</td>
                                <td>{[data.input_file_name]}<br />{[data.output_file_name]}</td>
                            </tr>
                            <tr>
                                <td>评测方式</td>
                                <td>{[data.spj_filename==""?"文本比较":"Special Judge"]}</td>
                            </tr>
                            <tr>
                                <td>题目标签</td>
                                <td>
                                    <div class="ui tiny label" v-for="tag in data.tags" :class="[tag.color]">
                                        {[tag.display]}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <a :href="'/problem_edit/'+data.id" v-if="base.uid==data.uploader_id||data.managable"
                        target="_blank">编辑</a>
                    <a v-on:click="removeProblem" v-if="base.uid==data.uploader_id||data.managable">删除</a>
                    <a :href="'/submissions/1?filter=uid%3D'+base.uid+'%2Cproblem%3D'+data.id" target="_blank">我的提交</a>
                    <a :href="'/submissions/1?filter=problem%3D'+data.id" target="_blank">全部提交</a>
                    <a :href="'/submissions/1?filter=status%3Daccepted%2Cproblem%3D'+data.id" target="_blank">通过提交</a>
                    <div style="margin-top: 20px;" class="ui tiny button" v-on:click="toggleTodoState"
                        v-bind:class="[data.inTodoList?'red':'green']">
                        {[data.inTodoList?'从待做题目列表删除':'加入待做题目列表']}
                    </div>
                    <div v-if="data.downloads.length!=0" style="margin-top: 20px;">
                        <div class="ui header">
                            <h4>文件下载</h4>
                        </div>
                        <div>
                            <a class="ui label" v-for="file,i in data.downloads" v-if="i<=5"
                                :href="'/api/download_file/'+data.id+'/'+file"
                                style="margin-bottom: 5px;"><span>{[file]} </span></a>
                        </div>
                        <div class="ui right aligned container">
                            <a :href="'/problem_edit/'+data.id+'?show_files'">查看全部..</a>
                        </div>
                    </div>


                </div>
                <div class="ui stack segment" style="max-width: 300px">
                    <div class="ui header">
                        <h4>讨论</h4>
                    </div>
                    <table class="ui very basic fluid collapsing celled table" v-if="recent_discussion.length!=0">
                        <tbody>
                            <tr v-for="item in recent_discussion">
                                <td>
                                    <a :href="'/show_discussion/'+item.id" target="_blank">{[item.title]}</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div v-else>无</div>
                    <a :href="'/discussions/discussion.problem.'+data.id+'/1'" target="_blank">查看更多..</a>
                </div>
            </div>
        </div>


        <problem-meta name="题目背景" v-bind:value="data.background"></problem-meta>
        <problem-meta name="题目内容" v-bind:value="data.content"></problem-meta>
        <problem-meta name="输入格式" v-bind:value="data.input_format"></problem-meta>
        <problem-meta name="输出格式" v-bind:value="data.output_format"></problem-meta>
        <div class="ui two column grid" v-for="item,index in data.example">
            <div class="ui column">
                <problem-meta v-bind:name="'样例 '+(index+1)+' 输入'" v-bind:value="item.input" :render="false"
                    :use_pre="true">
                </problem-meta>
            </div>
            <div class="ui column">
                <problem-meta v-bind:name="'样例 '+(index+1)+' 输出'" v-bind:value="item.output" :render="false"
                    :use_pre="true">
                </problem-meta>
            </div>
        </div>
        <div class="ui container problem-meta">
            <div class="ui header">
                <h3>子任务</h3>
            </div>
            <table class="ui table">
                <thead>
                    <tr>
                        <th>子任务名</th>
                        <th>评分方式</th>
                        <th>时间限制</th>
                        <th>内存限制</th>
                        <th>说明</th>
                        <th>分数</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="subtask in data.subtasks">
                        <td>{[subtask.name]}</td>
                        <td>{[({min:"取最小值",sum:"求和"})[subtask.method]]}</td>
                        <td>{[subtask.time_limit]} ms</td>
                        <td>{[subtask.memory_limit]} MB</td>
                        <td v-html="makeHTML(subtask.comment)"></td>
                        <td>{[subtask.score]}</td>
                    </tr>
                </tbody>
            </table>
            <!-- <div class="ui " -->
        </div>
        <problem-meta name="提示" v-bind:value="data.hint"></problem-meta>
        <div class="ui container problem-meta" v-if="data.problem_type!='submit_answer'">
            <div class="ui header">
                <h3>提交代码</h3>
            </div>
            <div class="ui one column grid">
                <div class="ui column">
                    <div class="ui two column grid" style="min-height: 500px;">
                        <div class="ui four wide column">
                            <div class="ui vertical pointing menu"
                                style="overflow-y: scroll;height:500px; max-width: 170px; overflow-x: hidden">
                                <a class="item" v-for="val,key in langs" :data-id="key"
                                    v-bind:class="{active:selected_id==key}" v-on:click="selected_id=key">
                                    <span>
                                        <span class="ui header">
                                            <h4>{[val.display]}</h4>
                                        </span>{[val.version]}
                                    </span>
                                    <!-- <p></p> -->
                                </a>
                            </div>
                        </div>
                        <div class="twelve wide stretched column" style="padding-left: 0;">
                            <div class="ui container">
                                <editor v-model="code" v-bind:lang="langs[selected_id].ace_mode" theme="github"
                                    style="min-height: 500px;" width="100%">
                                </editor>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui column">
                    <div class="ui segment">
                        <table class="ui very basic celled table">
                            <thead>
                                <tr>
                                    <th>名称</th>
                                    <th>参数</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item,i in data.extra_parameter" v-if="selected_id.match(item.lang)">
                                    <td> {[item.name]} </td>
                                    <td> {[item.parameter]} </td>
                                    <td>
                                        <div class="ui toggle checkbox" v-bind:class="{disabled:item.force}">
                                            <input type="checkbox" hidden
                                                :checked="(usedParameters.includes(i)?1:null)||item.force">
                                            <label
                                                v-on:click="usedParameters.includes(i)?(usedParameters.splice(usedParameters.indexOf(i),1)):usedParameters.push(i)">使用</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="ui center aligned container" style="margin-top: 30px;">
                <div class="ui icon green button" v-on:click="submit">
                    <i class="paper plane outline icon"></i>
                    提交！
                </div>
            </div>
        </div>
        <div v-else>
            <div class="ui center aligned container" style="margin-top: 30px;">
                <a class="ui icon green button" target="_blank" :href="'/submit_answer/'+data.id">
                    <i class="paper plane outline icon"></i>
                    提交答案
                </a>
            </div>
        </div>

    </div>
    <div class="ui basic modal" id="no-perm-modal">
        <div class="ui icon header">
            <i class="error icon"></i>
            错误
        </div>
        <div class="content">
            <div class="ui center aligned container">
                <p id="no-perm-text"></p>
            </div>
        </div>
        <div class="actions">
            <div class="ui green ok inverted button" onclick="window.location.href='/'">
                <i class="checkmark icon"></i>
                返回主页
            </div>
        </div>
    </div>
</div>
<div class="ui modal" id="warning-modal">
    <div class="ui header">
        警告
    </div>
    <div class="content">
        <p>删除题目会发生以下后果</p>
        <p>1.所有关于该题目的提交会被删除</p>
        <p>2.所有现在正在使用该题目的比赛将会无法正常访问</p>
    </div>
    <div class="actions">
        <div class="ui green approve button">
            确定
        </div>
        <div class="ui blue cancel button">
            取消
        </div>
    </div>
</div>
<div class="ui tiny modal" id="invite-code-modal">
    <div class="header">
        请输入此题目的邀请码
    </div>
    <div class="center aligned content">
        <div class="ui center aligned container">
            <div class="ui fluid input">
                <input id="invite-code-input">
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui red cancel button">
            取消
        </div>
        <div class="ui positive right labeled icon button">
            确认
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>
{%endblock%}