{%extends "base.html"%}
{%block title%}
修改或发布博客
{%endblock%}
{%block head%}

{%endblock%}
{%block body%}

<script>
    let id = parseInt(window.location.pathname.split("/").pop()) || -1;
    let editing = id !== -1;
    console.log(id);
    $(document).ready(() => {
        new Vue({
            mixins: [baseMixin],
            el: "#edit",
            data: {
                done: false,
                title: "",
                content: "",
                private: false,
                editing: editing,
                top: false,
                HTMLContent: "",
                lastUpdate: 0
            },
            watch: {
                content(newItem, old) {
                    if (this.getTime() - this.lastUpdate >= 3) {
                        this.HTMLContent = this.makeHTML(this.content);
                        this.lastUpdate = this.getTime();
                    }
                }
            },
            methods: {
                remove() {
                    showConfirmModal("您确认要删除这篇博客吗?", () => {
                        axios.post('/api/discussion/remove', {
                            discussionID: id
                        }).then(resp => {
                            let data = resp.data;
                            if (data.code) {
                                showErrorModal(data.message);
                                return;
                            }
                            window.location.href = "/blog/list/" + this.base.uid;
                        });
                    });
                },
                getTime() {
                    return (new Date()).getTime() / 1000;
                },
                submit(evt) {
                    let target = evt.target;
                    target.classList.add("loading");
                    if (editing) {
                        axios.post("/api/discussion/update", {
                            id: id,
                            content: this.content,
                            title: this.title,
                            top: this.top,
                            private: this.private
                        }).then(resp => {
                            target.classList.remove("loading");
                            let data = resp.data;
                            if (data.code) {
                                showErrorModal(data.message);
                                return;
                            }
                            showSuccessModal("更新完成");
                        });
                    } else {
                        axios.post("/api/post_discussion", {
                            // id: id,
                            content: this.content,
                            title: this.title,
                            top: this.top,
                            private: this.private,
                            path: `blog.user.${this.base.uid}`
                        }).then(resp => {
                            target.classList.remove("loading");
                            let data = resp.data;
                            if (data.code) {
                                showErrorModal(data.message);
                                return;
                            }
                            // showSuccessModal("更新完成");
                            window.open("/blog/list/" + this.base.uid);
                        });
                    }
                }
            },
            mounted() {
                if (this.editing) {
                    axios.post("/api/get_discussion", {
                        id: id
                    }).then(resp => {
                        let data = resp.data;
                        if (data.code) {
                            showErrorModal(data.message);
                            return;
                        }
                        this.title = data.data.title;
                        this.content = data.data.content;
                        this.private = data.data.private;
                        this.top = data.data.top;
                        this.done = true;
                    });
                } else {
                    this.done = true;
                }
            }
        });
    });
</script>


<div v-if="done" id="edit">
    <div class="ui header">
        <h1>
            {[editing?"修改博客":"发布博客"]}
        </h1>
    </div>
    <div class="ui segment stacked">
        <div class="ui two column grid">
            <div class="ui eight wide column">
                <div class="ui segment" v-html="HTMLContent"
                    style="overflow-y: scroll;word-wrap: break-word;max-height: 800px;"></div>
            </div>
            <div class="ui eight wide column">
                <div class="ui form">
                    <div class="ui field">
                        <label>标题</label>
                        <input v-model="title">
                    </div>
                    <div class="ui field">
                        <label>可见性</label>
                        <div class="ui toggle checkbox">
                            <input type="checkbox" class="hidden" v-model="private">
                            <label v-on:click="private=!private">私有</label>
                        </div>
                    </div>
                    <div class="ui field">
                        <label>博客内容</label>
                        <editor v-model="content" lang="yaml" height="600px" width="100%"></editor>
                    </div>
                    <div class="ui right aligned container">
                        <div class="ui green button" v-on:click="submit($event)">
                            提交
                        </div>
                        <div class="ui red button" v-if="editing" v-on:click="remove">
                            删除
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>
{%endblock%}