{%extends "base.html"%}
{%block title%}
查看博客
{%endblock%}
{%block body%}

<script>
    let uid = parseInt(window.location.pathname.split("/").pop());
    $(document).ready(() => {
        new Vue({
            mixins: [baseMixin],
            el: "#list",
            data: {
                done: false,
                pageCount: 0,
                currentPage: -1,
                data: [],
                userData: [],
                managable: false
            },

            methods: {
                switchPage(page) {
                    axios.post("/api/blog/list", { page: page, uid: uid }).then(resp => {
                        let data = resp.data;
                        if (data.code) {
                            showErrorModal(data.message);
                            return;
                        }
                        this.data = data.data;
                    });
                }
            },
            mounted() {
                axios.post("/api/blog/list", { page: 1, uid: uid }).then(resp => {
                    let data = resp.data;
                    if (data.code) {
                        showErrorModal(data.message);
                        return;
                    }
                    this.pageCount = data.pageCount;
                    this.currentPage = 1;
                    this.data = data.data;
                    this.userData = data.userData;
                    this.managable = data.managable;
                    this.done = true;
                });
            }
        });
    });
</script>


<div v-if="done" id="list">
    <div class="ui header">
        <h1>{[userData.username]} 的博客</h1>
    </div>
    <div class="ui two column grid">
        <div class="ui twelve wide column">
            <div class="ui segment stacked">
                <div v-if="data.length==0" class="ui center aligned container">
                    这个人很懒...还没写过博客..
                </div>
                <div v-else v-for="item in data">

                    <div class="ui fluid card" style="margin-bottom: 20px;">
                        <div class="content">
                            <div class="header">
                                <a :href="'/show_discussion/'+item.id" target="_blank">{[item.title]}</a>
                                <div class="ui red label" v-if="item.private">私有</div>
                            </div>
                            <div class="meta">
                                <div style="font-size: small;">
                                    <div>发表于 {[item.time]} </div>
                                    共有 {[item.commentCount]} 条评论
                                    <div v-if="item.lastCommentAt">
                                        最后评论于 {[item.lastCommentAt]}
                                    </div>
                                </div>
                            </div>
                            <div class="description" v-text="item.summary"></div>
                        </div>
                        <div class="extra content">
                            <a v-if="managable" class="ui tiny button" target="_blank"
                                :href="'/blog/edit/'+item.id">编辑</a>
                        </div>
                    </div>

                </div>
                <page-menu :page-count="pageCount" :callback="switchPage" :current-page="currentPage"></page-menu>
            </div>
        </div>
        <div class="ui four wide column">
            <div style="position: fixed;">
                <div class="ui card">
                    <div class="image">
                        <img :src="makeProfileImageURL(userData.email,200)">
                    </div>
                    <div class="content">
                        <a class="header" target="_blank" :href="'/profile/'+userData.uid">{[userData.username]}</a>
                        <div class="meta">
                            <span>{[userData.email]}</span>
                        </div>
                    </div>
                    <div class="extra content">
                        共有 {[userData.publicBlogCount]} 篇公开博客.
                    </div>

                    <div class="extra content">
                        <a v-if="managable" target="_blank" href="/blog/edit" class="ui tiny green button">
                            创建</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{%endblock%}