{%extends "base.html"%}
{%block title%}
编辑Wiki设置
{%endblock%}
{%block body%}

<script>

    $(document).ready(() => {
        new Vue({
            mixins: [baseMixin],
            el: "#config",
            data: {
                done: false,
                config: {},
                navigations: []
            },

            methods: {
                submit(evt) {
                    let target = evt.target;
                    target.classList.add("loading");
                    axios.post("/api/wiki/config/update", {
                        config: this.config,
                        navigations: this.navigations
                    }).then(resp => {
                        target.classList.remove("loading");
                        let data = resp.data;
                        if (data.code) {
                            showErrorModal(data.message);
                            return;
                        }
                        showSuccessModal("提交成功");
                        // this.navigations.push(data.data);
                        // this.navigations = this.navigations.filter(x => x.id != item.id);
                    });
                },
                addNavigation(evt) {
                    let target = evt.target;
                    target.classList.add("loading");
                    axios.post("/api/wiki/config/navigation/create").then(resp => {
                        target.classList.remove("loading");
                        let data = resp.data;
                        if (data.code) {
                            showErrorModal(data.message);
                            return;
                        }
                        this.navigations.push(data.data);
                    });
                },
                removeNavigation(evt, item) {
                    let target = evt.target;
                    target.classList.add("loading");
                    axios.post("/api/wiki/config/navigation/remove", { id: item.id }).then(resp => {
                        target.classList.remove("loading");
                        let data = resp.data;
                        if (data.code) {
                            showErrorModal(data.message);
                            return;
                        }
                        // this.navigations.push(data.data);
                        this.navigations = this.navigations.filter(x => x.id != item.id);
                    });
                }
            },
            mounted() {
                axios.post("/api/wiki/config/get").then(resp => {
                    let data = resp.data;
                    if (data.code) {
                        showErrorModal(data.message);
                        return;
                    }
                    this.config = data.data.config;
                    this.navigations = data.data.navigations;
                    this.done = true;
                });
            }
        });
    });
</script>


<div v-if="done" id="config">
    <div class="ui header">
        <h1>修改Wiki配置</h1>
    </div>
    <div class="ui stacked segment">
        <a class="ui right labeled icon green button" href="/wiki/edit" target="_blank">
            <i class="paper plane outline icon"></i>
            创建新页面
        </a>
        <div class="ui divider"></div>
        <div class="ui header">
            <h2>配置</h2>
        </div>
        <div class="ui form">
            <div class="ui field">
                <label>主页文章ID</label>
                <input v-model="config.indexPage">
            </div>
        </div>
        <div class="ui divider"></div>
        <div class="ui header">
            <h2>导航栏</h2>
        </div>
        <div v-for="item in navigations">
            <!-- {[item]} -->
            <div class="ui header">
                <h2>{[item.title]}</h2>
            </div>
            <div class="ui form">
                <div class="ui field">
                    <label>导航项ID</label>
                    <div>{[item.id]}</div>
                </div>
                <div class="ui field">
                    <label>优先级</label>
                    <input v-model.number="item.priority">
                </div>
                <div class="ui field">
                    <label>标题</label>
                    <input v-model="item.title">
                </div>
                <div class="ui field">
                    <label>菜单项管理</label>
                    <editor lang="json" v-model="item.menu" width="100%" height="300px">

                    </editor>
                </div>
            </div>
            <div class="ui divider"></div>
        </div>
        <div class="ui green button" v-on:click="addNavigation($event)">
            添加
        </div>
        <div class="ui green button" v-on:click="submit($event)">
            提交
        </div>

    </div>

</div>
{%endblock%}