{%extends "base.html"%}
{%block title%}
查看历史版本
{%endblock%}
{%block body%}

<script>
    let pageID = parseInt(window.location.pathname.split("/").pop());
    $(document).ready(() => {
        new Vue({
            mixins: [baseMixin],
            el: "#versions",
            data: {
                done: false,
                pageCount: 0,
                currentPage: -1,
                data: [],
                pageID: pageID,
                loading: false
            },

            methods: {
                verify(target, item) {
                    target.classList.add("loading");
                    axios.post("/api/wiki/verify", {
                        version: item.id
                    }).then(resp => {
                        target.classList.remove("loading");
                        let data = resp.data;
                        if (data.code) {
                            showErrorModal(data.message);
                            return;
                        }
                        item.verified = true;
                        this.loadPage(1);
                    });
                },
                loadPage(page) {
                    this.loading = true;
                    axios.post("/api/wiki/versions", {
                        pageID: this.pageID,
                        page: page
                    }).then(resp => {
                        this.loading = false;
                        let data = resp.data;
                        if (data.code) {
                            showErrorModal(data.message);
                            return;
                        }
                        this.pageCount = data.pageCount;
                        this.currentPage = page;
                        this.data = data.data;
                        this.done = true;
                    });
                }
            },
            mounted() {
                this.loadPage(1);
            }
        });
    });
</script>


<div v-if="done" id="versions">
    <div class="ui header">
        <h1>页面 {[pageID]} 的历史版本</h1>
    </div>
    <div class="ui stacked segment">
        <table class="ui center aligned table">
            <thead>
                <tr>
                    <th>版本ID</th>
                    <th>标题</th>
                    <th>发布时间</th>
                    <th>发布者</th>
                    <th>审核状态</th>
                    <th>前序版本</th>
                    <th>导航菜单ID</th>
                    <th>注释</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in data">
                    <td>
                        {[item.id]}
                    </td>
                    <td>
                        <a target="_blank" :href="'/wiki/'+pageID+'?version='+item.id">{[item.title]}</a>
                    </td>
                    <td>{[item.time]}</td>
                    <td>
                        <a :href="'/profile/'+item.user.uid" target="_blank">{[item.user.username]}</a>
                    </td>
                    <td v-bind:class="[item.verified?'positive':'negative']">
                        {[item.verified?'已审核':'未审核']}
                    </td>
                    <td>{[item.base]}</td>
                    <td>{[item.navigationID]}</td>
                    <td>{[item.comment]}</td>
                    <td>
                        <div class="ui buttons">
                            <a class="ui tiny green button" :href="'/wiki/edit/'+pageID+'?baseversion='+item.id">
                                编辑
                            </a>
                            <div class="ui tiny blue button" v-if="!item.verified"
                                v-on:click="verify($event.target,item)">
                                审核
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <page-menu :page-count="pageCount" :callback="loadPage" :current-page="currentPage"></page-menu>
    </div>

</div>
{%endblock%}