{%extends "base.html"%}
{%block title%}
后台管理
{%endblock%}
{%block body%}

<script>
    let admin;
    $(document).ready(() => {
        admin = new Vue({
            el: "#admin",
            delimiters: ['{[', ']}'],
            data: {
                data: null,
                done: false
            }, methods: {

            }
        });
        $.post("/api/admin/show").done(ctx => {
            ctx = JSON.parse(ctx);
            if (ctx.code) {
                showErrorModal(ctx.message);
                return;
            }
            admin.data = ctx.data;
            admin.done = true;
        });
    });
</script>
<div id="admin" v-if="done">
    <div class="ui header">
        <h1>后台管理</h1>
    </div>
    <div class="ui header">
        <h3>基本信息</h3>
    </div>
    <div class="ui segment stacked" style="max-width: 700px;">
        <div class="ui three column grid">
            <div class="ui row">
                <div class="ui column">
                    <div class="ui statistic">
                        <div class="value">
                            <i class="tasks icon"></i> {[data.problemCount]}
                        </div>
                        <div class="label">
                            题目数量
                        </div>
                    </div>
                </div>
                <div class="ui column">
                    <div class="ui statistic">
                        <div class="value">
                            <i class="tasks icon"></i> {[data.publicProblemCount]}
                        </div>
                        <div class="label">
                            公开题目数量
                        </div>
                    </div>
                </div>
                <div class="ui column">
                    <div class="ui statistic">
                        <div class="value">
                            <i class="address card icon"></i>{[data.userCount]}
                        </div>
                        <div class="label">
                            用户数量
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui row">
                <div class="ui column">
                    <div class="ui statistic">
                        <div class="value">
                            <i class="hdd icon"></i> {[data.submissionCount]}
                        </div>
                        <div class="label">
                            提交数量
                        </div>
                    </div>
                </div>
                <div class="ui column">
                    <div class="ui statistic">
                        <div class="value">
                            <i class="hdd icon"></i> {[data.acceptedSubmissionCount]}
                        </div>
                        <div class="label">
                            通过提交数量
                        </div>
                    </div>
                </div>
                <div class="ui column">
                    <div class="ui statistic">
                        <div class="value">
                           <i class="keyboard outline icon"></i> {[data.discussionCount]}
                        </div>
                        <div class="label">
                            讨论数量
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}