<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{%block title %}{%endblock%} - {{APP_NAME}}</title>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js"></script>
    {%if DEBUG%}
    <script src="/static/clipboard.js"></script>
    <script src="/static/jquery-3.3.1.js"></script>
    <script src="/static/vue.js"></script>
    <script src="/static/semantic.js"></script>
    <script src="/static/jquery.cookie.js"></script>
    <link rel="stylesheet" href="/static/semantic.css">
    <script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.js"></script>
    {%else%}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"
        integrity="sha256-KSlsysqp7TXtFo/FHjb1T9b425x3hrvzjMWaJyKbpcI=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"
        integrity="sha256-CgSoWC9w5wNmI1aN8dIMK+6DPelUEtvDr+Bc2m/0Nx8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.cookie@1.4.1/jquery.cookie.min.js"></script>
    <link rel="stylesheet" href="/static/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios@0.21.0/dist/axios.min.js"
        integrity="sha256-OPn1YfcEh9W2pwF1iSS+yDk099tYj+plSrCS6Esa9NA=" crossorigin="anonymous"></script>
    {%endif%}
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css"
        integrity="sha256-tn6hZ2YGDv0w1/DaFL4MiUoXuAVclrtFZs13ch3TB9M=" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.js"
        integrity="sha256-1qhJwAgsSPVSSjlQVTewHS49eaoAbOz651dveUANVBI=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/showdown@1.9.1/dist/showdown.min.js"
        integrity="sha256-jl1+DOsSs9uABTKppOJ2GF8kXoc3XQzBtFFyS0i9Xoo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/xss@1.0.8/dist/xss.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/showdown-xss-filter@0.2.0/showdown-xss-filter.min.js"></script>
    <script src="https://cdn.staticfile.org/SyntaxHighlighter/3.0.83/scripts/shCore.min.js"></script>
    <script src="https://cdn.staticfile.org/socket.io/2.3.0/socket.io.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/md5.js"></script>
    <script src="/static/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/ace/ext-language_tools.js" type="text/javascript" charset="utf-8"></script>

    {%if DEBUG%}
    <script>
        const debug_post = function (url, data) {
            $.post(url, data).done(ctx => console.log(JSON.parse(ctx)));
        }
        const debugPostX = function (url, data) {
            axios.post(url, data).then((ret) => {
                console.log(ret.data);
            });
        }
    </script>
    {%endif%}
    <script>
        const htmlDecode = input => {
            let doc = new DOMParser().parseFromString(input, "text/html");
            return doc.documentElement.textContent;
        };

        const renderLatex = function (str) {
            return katex.renderToString(String(str), { throwOnError: false });
        };
        const getRequest = function () {
            var url = location.search; //获取url中"?"符后的字串  
            var theRequest = new Object();
            if (url.indexOf("?") != -1) {
                var str = url.substr(1);
                strs = str.split("&");
                for (var i = 0; i < strs.length; i++) {
                    theRequest[strs[i].split("=")[0]] = decodeURIComponent(strs[i].split("=")[1]);
                }
            }
            return theRequest;
        }
        const md5WithSalt = function (password) {
            return hex_md5(password + "{{SALT}}")
        };
        const copy_text = function (text) {
            const elem = document.createElement("textarea");
            $("body").append(elem);
            elem.value = text;
            elem.select();
            document.execCommand("copy");
            $(elem).remove();
            return elem;
        };
        const show_error_modal = function (text, title = "错误") {
            $("#global-error-header").text(title)
            $("#global-error-text").text(text);
            $("#global-error-model").modal("show");
        };
        const showSuccessModal = function (text, title = "操作完成") {
            $("#global-ok-header").text(title)
            $("#global-ok-text").text(text);
            $("#global-ok-model").modal("show");
        };
        const showConfirmModal = (text, onApprove, title = "询问") => {
            $("#global-confirm-header").text(title)
            $("#global-confirm-text").text(text);
            $("#global-confirm-model").modal({
                onApprove: onApprove
            }).modal("show");
        };
        const showConfirmModalAsync = (text, title = "询问") => {
            return new Promise((resolve, reject) => {
                showConfirmModal(text, resolve, title);
            });
        };

        const showErrorModal = show_error_modal;
        const CSRF_TOKEN = "{%if USING_CSRF_TOKEN %} {{csrf_token() }} {%else%}{%endif%}";

        axios.interceptors.request.use((config) => {
            config.headers["X-CSRFtoken"] = CSRF_TOKEN;
            return config;
        });
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFtoken", CSRF_TOKEN);
            }, error: function (xhr, status, err) {
                show_error_modal(xhr.responseText, xhr.status + " " + err);
                throw err;
            }
        });

        axios.interceptors.response.use(resp => {
            return resp;
        }, err => {
            let response = err.response;
            showErrorModal(response.data, response.status + " " + response.statusText)
        });
        const judge_status = {
            done: false, data: {}
        };
        //用于显示分数的小标签
        Vue.component("score-label", {
            delimiters: ["{[", "]}"],
            props: ["score", "full_score"],
            methods: {
                get_text_color(ratio) {
                    ratio *= 100;
                    if (ratio <= 50) return "red";
                    else if (ratio <= 70) return "orange";
                    else if (ratio < 100) return "darkorange";
                    else return "green";
                }
            }, template: "<span :style=\"'font-weight: bold;color: '+get_text_color(score/full_score)\">{[score]}/{[full_score]}</span>"
        });
        Vue.component("page-menu", {
            delimiters: ["{[", "]}"],
            props: {
                pageCount: Number, callback: Function, currentPage: Number
            }, data() {
                return { page: 1 }
            },
            mounted() {
                this.page = this.currentPage;
            },
            computed: {
                pages() {
                    const arr = new Array();
                    for (var i = 1; i <= this.pageCount; i++) arr.push(i);
                    if (arr.indexOf(this.page) > 5) {
                        arr.splice(1, arr.indexOf(this.page) - 4);
                        arr.splice(1, 1, -1);
                    }
                    if (arr.indexOf(this.page) + 5 <= arr.length) {
                        arr.splice(arr.indexOf(this.page) + 5, arr.length - 2 - (arr.indexOf(this.page) + 5) + 1);
                        arr.splice(-2, 1, -1);
                    }
                    return arr;
                }
            },
            template: `<div class="ui center aligned container">
            <div class="ui pagination menu" v-if="pages.find(x=>x!=-1)">
                <a class="item" v-for="item in pages"
                    :class="{disabled:item==-1||item==page,active:item==page}"
                    v-on:click="(item==-1)?null:(page=item,callback(item))"
                    >{[
                    item==-1?"...":item]}</a>
            </div>
        </div>`
        });
        //显示评测状态的标签
        Vue.component("judge-status", {
            delimiters: ['{[', ']}'],
            props: {
                status: {
                    type: String
                },
                showText: {
                    type: Boolean,
                    default: true
                }
            },
            render: function (h) {
                return h("div", {
                    class: `ui center aligned ${this.get_color(this.status)} ${this.showText ? '' : 'circular'}  label`
                }, [
                    h("i", {
                        class: this.get_icon(this.status)
                    }),
                    this.showText ? this.get_text(this.status) : null
                ]);
            },
            data() {
                return {
                    judgeStatus: judge_status
                }
            },
            methods: {
                get_icon: function (x) {
                    if (!this.judgeStatus.done) return "";
                    return this.judgeStatus.data[x].icon;

                }, get_color: function (x) {
                    if (!this.judgeStatus.done) return "black";
                    return this.judgeStatus.data[x].color;
                }, get_text(x) {
                    if (!this.judgeStatus.done) return x;
                    if (this.judgeStatus.data.hasOwnProperty(x))
                        return this.judgeStatus.data[x].text;
                    else return x;
                }
            }
        });
        $.post("/api/get_judge_status").done(ctx => {
            ctx = JSON.parse(ctx);
            judge_status.done = true;
            Vue.set(judge_status, "data", ctx.data);
        });
        var sidebar;
        let baseObject;
        const showdownClassMap = {
            h1: 'ui large header',
            h2: 'ui medium header',
            ul: 'ui list',
            li: 'ui item',
            table: "ui table"
        }

        const showdownBindings = Object.keys(showdownClassMap)
            .map(key => ({
                type: 'output',
                regex: new RegExp(`<${key}(.*)>`, 'g'),
                replace: `<${key} class="${showdownClassMap[key]}" $1>`
            }));

        const converter = new showdown.Converter({
            extensions: [
                "xssfilter",
                {
                    type: 'output', regex: /\$\$([\S\s]+?)\$\$/g, replace: (x, y) => {
                        let result = katex.renderToString(htmlDecode(y), {
                            throwOnError: false,
                            displayMode: true
                        });
                        return result;
                    }
                },
                {
                    type: 'output', regex: /\$([\S\s]+?)\$/g, replace: (x, y) => {
                        let result = katex.renderToString(htmlDecode(y), {
                            throwOnError: false,
                            displayMode: false
                        });
                        return result;
                    }
                },
                {
                    type: "output",
                    regex: /!!!problem-card: ?([0-9]+)!!!/g,
                    replace: (str, problemID) => {
                        return `<iframe src="/card/problem/${problemID}" frameborder="0" style="min-width:400px;height:75px"> </iframe>`;
                    }
                },
                ...showdownBindings
            ], tables: true, literalMidWordUnderscores: true
        });
        $(document).ready(() => {
            baseMixin = {
                delimiters: ['{[', ']}'],

                data: {
                    base: {
                        isLogin: false,
                        username: "",
                        uid: -1,
                        email: "",
                        usePhoneAuth: false,
                        loaded: false,
                        registerURL: "",
                        gravatarURL: ""
                    }
                }, methods: {
                    makeHTML(v) {
                        return converter.makeHtml(v);
                    },
                    md5: hex_md5,
                    md5WithSalt(v) {
                        return md5WithSalt(v);
                    },
                    makeProfileImageURL(email, size) {
                        return this.base.gravatarURL + this.md5(email) + (size ? `?size=${size}` : "");
                    },
                    decodeHTML(input) {
                        return htmlDecode(input);
                    }

                }
            };
            sidebar = new Vue({
                delimiters: ['{[', ']}'],
                el: "#main-sidebar",
                mixins: [baseMixin],
                data: {
                    show_discussion_detail: false
                }, methods: {
                    logout: function () {
                        $.post("/api/logout").done((ctx) => {
                            ctx = JSON.parse(ctx);
                            window.location.reload()
                        })
                    }, md5: hex_md5
                }, mounted() {
                }
            })
            $.post("/api/query_login_state").done((ctx) => {
                ctx = JSON.parse(ctx);
                baseMixin.data.base.isLogin = ctx.result;
                baseMixin.data.base.usePolling = ctx.usePolling;
                baseMixin.data.base.usePhoneAuth = ctx.usePhoneAuth;
                if (ctx.result) {
                    baseMixin.data.base.username = ctx.username;
                    baseMixin.data.base.email = ctx.email;
                    baseMixin.data.base.uid = ctx.uid;
                    baseMixin.data.base.mangable = ctx.backend_managable;

                }
                baseMixin.data.base.loaded = true;
            });

        });
        Vue.component("editor", {
            delimiters: ['{[', ']}'],
            render: function (h) {
                var height = this.height ? this.px(this.height) : '100%'
                var width = this.width ? this.px(this.width) : '100%'
                return h('div', {
                    attrs: {
                        style: "height: " + height + '; width: ' + width,
                    }
                })
            },
            props: {
                value: {
                    type: String,
                    required: true
                },
                lang: String,
                theme: String,
                height: true,
                width: true,
                options: Object
            },
            data: function () {
                return {
                    editor: null,
                    contentBackup: ""
                }
            },
            methods: {
                px: function (n) {
                    if (/^\d*$/.test(n)) {
                        return n + "px";
                    }
                    return n;
                }
            },
            watch: {
                value: function (val) {
                    if (this.contentBackup !== val) {
                        this.editor.session.setValue(val, 1);
                        this.contentBackup = val;
                    }
                },
                theme: function (newTheme) {
                    this.editor.setTheme('ace/theme/' + newTheme);
                },
                lang: function (newLang) {
                    this.editor.getSession().setMode('ace/mode/' + newLang);
                },
                options: function (newOption) {
                    this.editor.setOptions(newOption);
                },
                height: function () {
                    this.$nextTick(function () {
                        this.editor.resize()
                    })
                },
                width: function () {
                    this.$nextTick(function () {
                        this.editor.resize()
                    })
                }
            },
            beforeDestroy: function () {
                this.editor.destroy();
                this.editor.container.remove();
            },
            mounted: function () {
                var vm = this;
                var lang = this.lang || 'text';
                var theme = this.theme || 'chrome';
                var editor = vm.editor = ace.edit(this.$el);
                this.$emit('init', editor);

                editor.$blockScrolling = Infinity;
                editor.getSession().setMode('ace/mode/' + lang);
                editor.setTheme('ace/theme/' + theme);
                editor.setValue(this.value, 1);
                this.contentBackup = this.value;
                editor.setFontSize(18);
                editor.setOption("wrap", "free");
                ace.require("ace/ext/language_tools");
                editor.setOptions({
                    enableBasicAutocompletion: true,
                    enableSnippets: true,
                    enableLiveAutocompletion: true
                });
                editor.on('change', function () {
                    var content = editor.getValue();
                    vm.$emit('input', content);
                    vm.contentBackup = content;
                });
                if (vm.options)
                    editor.setOptions(vm.options);
            }
        });
    </script>
    {%block head%}{%endblock%}
</head>

<body style="background-color: rgb(236, 233, 233)">
    <div class="ui two column grid">
        <div class="ui column" style="width: max-content;">
            <div class="ui vertical labeled icon menu" id="main-sidebar"
                style="overflow-y: scroll;height: 100%;position: fixed;">
                <a class="item" href="/">
                    <i class="home icon"></i>
                    主页
                </a>
                <a class="item" href="/problems/1">
                    <i class="tasks icon"></i>
                    题库
                </a>
                <a class="item" href="/submissions/1">
                    <i class="hdd icon"></i>
                    提交
                </a>
                <a class="item" href="/team">
                    <i class="address book icon"></i>
                    团队
                </a>
                <a class="item" href="/challenge/list">
                    <i class="chart bar icon"></i>
                    天梯
                </a>
                <a class="item" href="/problemset/list/1">
                    <i class="book icon"></i>
                    习题集
                </a>
                <a class="item" href="/contests/1">
                    <i class="chart line icon"></i>
                    比赛
                </a>
                <div class="item" v-on:click="show_discussion_detail=!show_discussion_detail" style="cursor: pointer;">
                    <i class="keyboard outline icon"></i>
                    讨论 百科
                </div>
                <a class="item" target="_blank" href="/discussions/discussion.global/1"
                    v-if="show_discussion_detail">全局讨论</a>
                <a class="item" target="_blank" href="/discussions/discussion.problem.global/1"
                    v-if="show_discussion_detail">题目全局讨论</a>
                <a class="item" target="_blank" href="/wiki" v-if="show_discussion_detail">百科</a>
                <!-- <a class="item" target="_blank" href="/discussions/blog/1" v-if="show_discussion_detail">博客</a> -->
                <!-- <a class="item" target="_blank" href="/discussions/discussion.problem/1"
            v-if="show_discussion_detail">全部题目讨论</a> -->
                <a class="item" target="_blank" href="/ranklist/1"><i class="signal icon"></i>排名</a>
                <a class="item" target="_blank" href="/ide" v-if="base.isLogin">
                    <i class="code icon"></i>
                    在线IDE</a>
                <a class="item" target="_blank" href="/help">
                    <i class="help circle icon"></i>
                    帮助</a>
                <a class="item" target="_blank" href="/login" v-if="!base.isLogin">
                    请登录...
                </a>
                <a class="item" href="/register" v-if="!base.isLogin">
                    或者注册...
                </a>
                <a class="item" :href="'/profile_edit/'+base.uid" v-if="base.backend_managable" target="_blank">
                    <i class="address card icon"></i>
                    个人信息编辑
                </a>
                <a class="item" href="/admin" v-if="base.mangable" target="_blank">
                    <i class="sitemap icon"></i>
                    后台管理
                </a>
                <a class="item" :href="'/profile/'+base.uid" v-if="base.isLogin">
                    <img class="ui avatar image" :src="makeProfileImageURL(base.email)"></img>
                    <span>{[base.username]}</span>
                </a>
                <a class="item" v-on:click="logout" v-if="base.isLogin"><i class="x icon"></i>登出</a>
            </div>
        </div>
        <div class="ui column" style="width: max-content;margin: 0 auto;">
            <div class="ui main container" style="margin-top:70px;margin-bottom:70px">
                {%block body%}{%endblock%}
            </div>
            <div class="ui center aligned  container" id="bottom-banner">
                <div style="color: darkgrey">
                    {{APP_NAME}} by <a href="https://github.com/Officeyutong/HelloJudge2">HelloJudge2</a>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="pusher" style="background-color: rgb(236, 233, 233);">
        <div class="ui" style="margin-top:50px;margin-left:50px;top:50px;position: fixed;">
            <button class="circular ui huge green floating icon button"
                onclick="$('#main-sidebar') .sidebar('setting', 'transition', 'overlay').sidebar('toggle')"><i
                    class="icon list ul"></i></button>
        </div>

    </div> -->
    <div class="ui tiny modal" id="global-error-model">
        <div class="ui header">
            发生错误
        </div>
        <div class="content">
            <div class="ui error message">
                <div class="ui header">
                    <h3 id="global-error-header"></h3>
                </div>
                <p id="global-error-text"></p>
            </div>
        </div>
        <div class="actions">
            <a class="ui blue approve button" href="/">返回主页</a>
            <div class="ui green approve button">关闭</div>
        </div>
    </div>
    <div class="ui tiny modal" id="global-ok-model">
        <div class="ui header">
            操作完成
        </div>
        <div class="content">
            <div class="ui success message">
                <div class="ui header">
                    <h3 id="global-ok-header"></h3>
                </div>
                <p id="global-ok-text"></p>
            </div>
        </div>
        <div class="actions">
            <div class="ui green approve button">关闭</div>
        </div>
    </div>
    <div class="ui tiny modal" id="global-confirm-model">
        <div class="ui header" id="global-confirm-header">
            您确认要
        </div>
        <div class="content">
            <p id="global-confirm-text"></p>
        </div>
        <div class="actions">
            <div class="ui green approve button">确认</div>
            <div class="ui green negative button">关闭</div>
        </div>
    </div>
</body>

</html>