{%extends "base.html"%}
{%block title%}
错误
{%endblock%}
{%block body%}
<script>
    $(document).ready(() => {
        let args = getRequest();
        console.log(args);
        $("#message").text(args.message);
    });
</script>
<div class="ui container">
    <div class="ui segment stacked">
        <div class="ui error message">
            <div class="ui header">
                错误
            </div>
            <div class="message" id="message"></div>
        </div>
    </div>
</div>
{%endblock%}