{%extends "base.html"%}
{%block title%}
主页
{%endblock%}
{%block head%}
<!-- <link rel="stylesheet" href="//unpkg.com/swiper/swiper-bundle.min.css"> -->
<!-- <script src="//unpkg.com/swiper/swiper-bundle.min.js"></script> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@6.4.5/swiper-bundle.min.css"
    integrity="sha256-q0YgUk96CMUCiHvjEZqRdDBczok56JtMfzZagEO03VQ=" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/swiper@6.4.5/swiper-bundle.min.js"
    integrity="sha256-kTTXM5Vy6FKJdIY0kuQZYtDrEDYgU/gzBeSbtKfo8oA=" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/vue-awesome-swiper@4.1.1/dist/vue-awesome-swiper.js"></script>
{%endblock%}
{%block body%}

<script>
    let main;
    Vue.use(window.VueAwesomeSwiper);
    Vue.component("toolbox-item", {
        props: [
            "color", "name", "url"
        ],
        render: function (h) {
            return h("div", {
                class: "ui column",
                // style: "width:fit-content;"
            }, [
                h("a", {
                    attrs: {
                        href: this.url,
                        target: "_blank"
                    },
                    class: `ui tiny ${this.color} button`
                }, [
                    this.name
                ])
            ]);
        }
    });
    $(document).ready(() => {
        main = new Vue({
            el: "#main",
            delimiters: ['{[', ']}'],
            mixins: [baseMixin],
            data: {
                homeData: null,
                done: false,
                jumpProblemID: "",
                feeds: [],
                problemtodo: [],
                swiper: {
                    options: {
                        pagination: {
                            el: '.swiper-pagination'
                        },
                        autoplay: {
                            delay: 5000
                        }
                    }
                },
                broadcastData: []
            },
            computed: {
                swiperObj() {
                    return this.$refs.homePageSwiper.$swiper;
                }
            },
            methods: {
                jumpTo() {
                    window.open("/show_problem/" + this.jumpProblemID);
                },
                goToSearch(evt) {
                    console.log(evt.target.value);
                    let text = evt.target.value;
                    window.localStorage.setItem("hj2-home-search", text);
                    window.open("/problems/1");
                }
            }, mounted() {
                axios.all([
                    axios.post("/api/home_page"),
                    axios.post("/api/feed/get_feed_stream"),
                    axios.post("/api/problemtodo/all"),
                    axios.post("/api/get_discussion_list", {
                        path: "broadcast", page: 1, countLimit: 5
                    })
                ]).then(axios.spread((home, feeds, problemtodo, broadcast) => {
                    this.homeData = home.data.data;
                    this.feeds = feeds.data.data;
                    if (problemtodo.data.code == 0)
                        this.problemtodo = problemtodo.data.data;

                    this.swiper.options.autoplay.delay = this.homeData.swiperInterval;
                    this.broadcastData = broadcast.data.data;
                    this.done = true;
                    this.$nextTick(() => {
                        $("#sidebar-sticky").sticky({
                            context: "#stick-to"
                        });
                    });
                }));

            }
        });
    });
</script>
<div id="main" v-if="done">
    <div class="ui header">
        <h1>{[homeData.appName]}</h1>
    </div>
    <div class="ui divider"></div>
    <div class="ui segment stacked" style="max-width: 75%;" id="stick-to">
        <div class="ui right rail">
            <div id="sidebar-sticky" class="ui sticky" v-once>
                <div class="ui segment stacked">
                    <div class="ui header">
                        <h3>快速跳题</h3>
                    </div>
                    <div class="ui action input">
                        <input type="text" v-model="jumpProblemID" placeholder="输入题号快速跳题..." v-on:keyup.enter="jumpTo">
                        <button class="ui green icon button" v-on:click="jumpTo">
                            <i class="ui paper plane outline icon"></i>
                        </button>
                    </div>
                </div>
                <div class="ui segment stacked">
                    <div class="ui header">
                        <h3>题目搜索</h3>
                    </div>
                    <div class="ui fluid input">
                        <input type="text" v-on:keyup.enter="goToSearch($event)" placeholder="回车键发起搜索..">

                    </div>
                </div>
                <div class="ui  segment stacked">
                    <div class="ui header">
                        <h3>工具箱</h3>
                    </div>
                    <div class="ui center aligned two column grid">
                        <toolbox-item v-for="item in homeData.toolbox" :color="item.color" :url="item.url"
                            :name="item.name"></toolbox-item>
                    </div>
                </div>
                <div class="ui segment stacked">
                    <div class="ui header">
                        <h3>公告</h3>
                    </div>
                    <div class="ui list">
                        <div class="ui item" v-for="item in broadcastData">
                            <a target="_blank" :href="'/show_discussion/'+item.id">{[item.title]}</a>
                        </div>
                        <div class="ui divider"></div>
                        <div class="ui item">
                            <a target="_blank" href="/discussions/broadcast/1">查看全部...</a>
                        </div>
                    </div>
                </div>


                <div class="ui segment stacked">
                    <div class="ui header">
                        <h3>我的题单</h3>
                    </div>
                    <a class="ui tiny blue button" href="/problemtodo/list" target="_blank"
                        style="margin-bottom: 10px;">管理</a>
                    <div v-if="problemtodo.length==0">
                        还没有题...
                    </div>
                    <div v-else>
                        <div class="ui list">
                            <div class="ui item" v-for="item in problemtodo">
                                <a :href="item.submission.id!=-1?('/show_submission/'+item.submission.id):null"
                                    target="_blank">
                                    <judge-status :status="item.submission.status" :show-text="false"></judge-status>
                                </a>
                                <a :href="'/show_problem/'+item.id">#{[item.id]}. {[item.title]}</a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui segment stacked">
                    <div class="ui header">
                        <h3>友情链接</h3>
                    </div>
                    <div class="ui list">
                        <div class="ui item" v-for="item in homeData.friendLinks">
                            <a target="_blank" :href="item.url">{[item.name]}</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div>
            <div>
                <swiper ref="homePageSwiper" :options="swiper.options">
                    <swiper-slide v-for="item in homeData.swipers">
                        <a :href="item.url" target="_blank">
                            <img class="ui image" :src="item.image">
                        </a>
                    </swiper-slide>

                    <div class="swiper-pagination" slot="pagination"></div>
                </swiper>
            </div>
            <div class="ui divider"></div>
            <div>
                <div class="ui feed">
                    <div class="event" v-for="item in feeds">
                        <div class="label">
                            <img :src="makeProfileImageURL(item.email)">
                        </div>
                        <div class="content">
                            <div class="summary">
                                <a class="user" :href="'/profile/'+item.uid">{[item.username]}</a>
                                发送了动态
                                <div class="ui tiny red label" v-if="item.top">置顶</div>
                                <div class="date">{[item.time]} - ID: {[item.id]}</div>
                            </div>
                            <div class="extra text" v-html="makeHTML(item.content)"></div>
                        </div>
                        <div class="ui divider"></div>
                    </div>
                </div>
            </div>
            <div class="ui divider"></div>
            <div>
                <div class="ui header">
                    <h2>排名</h2>
                </div>
                <table class="ui very basic celled table">
                    <thead>
                        <tr>
                            <th>用户</th>
                            <th>个人简介</th>
                            <th>Rating</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item,i in homeData.ranklist">
                            <td class="center aligned">#{[i+1]}. <a target="_blank" :href="'/profile/'+item.uid">{[item.username]}</a></td>
                            <td class="center aligned">
                                <div v-html="makeHTML(item.description)"
                                    style="max-height: 50px;overflow-y: hidden;overflow-x: hidden;max-width: 700px;">
                                </div>
                            </td>
                            <td class="center aligned">{[item.rating]}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{%endblock%}