{%extends "base.html"%}
{%block title%}
主页
{%endblock%}
{%block body%}
<div>
    <script>
        let a;
        $(document).ready(() => {
            a = new Vue({
                el: "#A", data: {
                    page: 1,
                    func(x) {
                        console.log(x);
                        this.page = x;
                    }
                }
            });
        });
    </script>
    <div id="A">
        <page-menu v-bind:page-count="20" v-bind:current-page="page" v-bind:callback="func"></page-menu>
    </div>
</div>
<div class="center aligned">
    <h1 style="font-size: 100px;"><ruby>这个主页还没写好<rt>咕咕咕咕咕咕咕咕</rt></ruby></h1>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{%endblock%}