{%extends "base.html"%}
{%block title%}
短信验证
{%endblock%}
{%block head%}

{%endblock%}
{%block body%}

<script>
    let smsAuth;
    $(document).ready(() => {
        smsAuth = new Vue({
            el: "#sms-auth",
            mixins: [baseMixin],
            data: {
                phoneNumber: "",
                code: "",
                errorMessage: "",
                successMessage: "",
                loading: false,
                codeSended: false,
                done: false
            }, methods: {
                openSendCode() {
                    this.errorMessage = "";
                    if (!/[0-9]{11}/.test(this.phoneNumber)) {
                        this.errorMessage = "请输入11位国内手机号";
                        return;
                    }
                    window.closeModal = () => {
                        $("#smscode-modal").modal("hide");

                    };
                    $("#smscode-frame").attr("src", "/card/sendsms?must_not_used=1&phone=" + this.phoneNumber);
                    $("#smscode-modal").modal("show", {
                        onClose: () => {
                            this.codeSended = true;
                        }
                    });
                    this.codeSended = true;
                },
                submit() {
                    this.loading = true;
                    this.errorMessage = this.successMessage = "";
                    axios.post("/api/phoneauth/auth", {
                        code: this.code,
                        phone: this.phoneNumber
                    }).then(resp => {
                        this.loading = false;
                        let data = resp.data;
                        if (data.code) {
                            this.errorMessage = data.message;
                            return;
                        }
                        this.successMessage = data.message;
                        setInterval(() => {
                            window.location.href = "/";
                        }, 3000);
                    });
                }
            }
        });

    });
</script>
<div id="sms-auth">
    <div class="ui left aligned container">
        <div class="ui header">
            <h1>短信验证</h1>
        </div>
        <div class="ui stacked segment" style="max-width: 35%;">
            <div class="ui active dimmer" v-if="loading">
                <div class="ui loader"></div>
            </div>
            <div class="ui form" v-bind:class="{error:errorMessage!='',success:successMessage!=''}">
                <div class="ui field">
                    <label>手机号码</label>
                    <input type="text" placeholder="请输入11位国内手机号.." v-model="phoneNumber">
                </div>
                <div class="field">
                    <label>验证码</label>
                    <input type="text" v-model="code" placeholder="短信验证码..">
                </div>
                <div class="ui error message">
                    <div class="header">错误</div>
                    <p>{[errorMessage]}</p>
                </div>
                <div class="ui success message">
                    <div class="header">成功</div>
                    <p>{[successMessage]}</p>
                </div>

                <div class="ui green button" v-on:click="openSendCode">
                    发送验证码
                </div>
                <div class="ui green submit button" v-on:click="submit"
                    v-bind:class="{loading:loading,disabled:loading}" v-if="codeSended">提交</div>
            </div>
        </div>
    </div>
</div>
<div class="ui center aligned modal" id="smscode-modal">
    <iframe id="smscode-frame" style="width: 100%;height: 600px;"></iframe>
</div>
{%endblock%}