{%extends "base.html"%}
{%block title%}
提交列表
{%endblock%}
{%block body%}
<script>
    $(document).ready(() => {
        let page = parseInt(window.location.pathname.split("/").pop()) || 1;
        const { filter } = getRequest();

        new Vue({
            mixins: [baseMixin],
            el: "#submissions",
            data: {
                currentPage: page,
                data: [],
                pageCount: 0,
                loading: false,
                done: false,
                showFilter: false,
                filter: {
                    uid: {
                        used: false,
                        value: ""
                    },
                    status: {
                        used: false,
                        value: "accepted"
                    },
                    min_score: {
                        used: false,
                        value: 0
                    },
                    max_score: {
                        used: false,
                        value: 100
                    },
                    contest: {
                        used: false,
                        value: -1
                    },
                    problem: {
                        used: false,
                        value: 1
                    }
                }
            },
            mounted() {
                if (filter) {
                    for (let item of filter.split(",")) {
                        const [key, value] = item.split("=");
                        console.log(key, value);
                        this.filter[key] = {
                            used: true,
                            value: value
                        };

                    }
                }
                (async () => {
                    await this.loadPage(this.currentPage);
                })();
            },
            methods: {
                encodeFilters() {
                    let buf = "";
                    for (let key of Object.keys(this.filter)) {
                        const val = this.filter[key];
                        if (val.used) {
                            buf += "," + `${key}=${val.value}`
                        }
                    }
                    let result = encodeURIComponent(buf.substr(1));
                    // console.log(result);
                    return result;

                },
                async loadPage(page) {
                    this.loading = true;
                    let resp = (await axios.post("/api/submission_list", {
                        page: page,
                        filter: this.makeFilter()
                    })).data;
                    this.loading = false;
                    if (resp.code) {
                        showErrorModal(resp.message);
                        return;
                    }
                    this.pageCount = resp.page_count;
                    this.data = resp.data;
                    let filters = this.encodeFilters();
                    window.history.pushState({}, "qwq", page + (this.encodeFilters() ? ("?filter=" + filters) : ""));
                    this.done = true;
                },
                makeFilter() {
                    let result = {};
                    for (let key of Object.keys(this.filter)) {
                        let curr = this.filter[key];
                        if (curr.used) {
                            result[key] = this.filter[key].value;
                        }
                    }
                    return result;
                }
            }
        });
    });
</script>

<div id="submissions" v-if="done">
    <div class="ui header" style="margin-bottom: 50px;">
        <h1>提交</h1>
    </div>
    <!-- <div class="ui header">
        <h3>筛选</h3>
    </div>
    <div class="ui stacked segment">
        <div class="ui label" v-for="val,key in filter">
            {[key]}: {[val]}
            <i class="delete icon" v-on:click="removeKey(filter,key)"></i>
        </div>
        <div class="ui divider"></div>
        <table class="ui very basic celled table">
            <tbody>
                <tr>
                    <td style="width: 100px">
                        <div class="ui green tiny button" v-on:click="go">执行</div>
                    </td>
                    <td>
                        <filter-input v-bind:callback="addFilter"></filter-input>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="ui divider"></div>
            <div class="ui message">
                <div class="ui header">帮助</div>
                status的取值有以下四种:
                <list>
                    <li>accepted:通过</li>
                    <li>unaccepted:未通过</li>
                    <li>judging:评测中</li>
                    <li>waiting:等待评测中</li>
                </list>
            </div>
    </div> -->
    <div class="ui stacked segment">
        <div class="ui dimmer" v-bind:class="{active:loading}">
            <div class="ui loader"></div>
        </div>
        <div class="ui right aligned container">
            <div class="ui green tiny button" v-on:click="showFilter=true" v-if="!showFilter">
                过滤
            </div>
            <div class="ui blue tiny button" v-on:click="showFilter=false" v-if="showFilter">
                隐藏
            </div>
        </div>
        <div v-if="showFilter">
            <div class="ui form">
                <div class="ui field">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" v-model="filter.uid.used">
                        <label>过滤UID/用户名</label>
                    </div>
                </div>
                <div class="ui field" v-if="filter.uid.used">
                    <label>UID/用户名</label>
                    <input type="text" v-model="filter.uid.value">
                </div>
                <div class="ui field">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" v-model="filter.problem.used">
                        <label>过滤题目ID</label>
                    </div>
                </div>
                <div class="ui field" v-if="filter.problem.used">
                    <label>题目ID</label>
                    <input type="text" v-model="filter.problem.value">
                </div>
                <div class="ui field">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" v-model="filter.status.used">
                        <label>过滤状态</label>
                    </div>
                </div>
                <div class="ui field" v-if="filter.status.used">
                    <div class="ui compact menu">
                        <div class="ui simple dropdown item">
                            <judge-status :status="filter.status.value"></judge-status>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <div class="item" v-on:click="filter.status.value='accepted'">
                                    <judge-status status="accepted"></judge-status>
                                </div>
                                <div class="item" v-on:click="filter.status.value='unaccepted'">
                                    <judge-status status="unaccepted"></judge-status>
                                </div>
                                <div class="item" v-on:click="filter.status.value='compile_error'">
                                    <judge-status status="compile_error"></judge-status>
                                </div>
                                <div class="item" v-on:click="filter.status.value='judging'">
                                    <judge-status status="judging"></judge-status>
                                </div>
                                <div class="item" v-on:click="filter.status.value='waiting'">
                                    <judge-status status="waiting"></judge-status>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="ui field">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" v-model="filter.min_score.used">
                        <label>过滤最低分</label>
                    </div>
                </div>
                <div class="ui field" v-if="filter.min_score.used">
                    <label>最低分</label>
                    <input type="text" v-model="filter.min_score.value">
                </div>
                <div class="ui field">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" v-model="filter.max_score.used">
                        <label>过滤最高分</label>
                    </div>
                </div>
                <div class="ui field" v-if="filter.max_score.used">
                    <label>最高分</label>
                    <input type="text" v-model="filter.max_score.value">
                </div>

                <div class="ui field">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" v-model="filter.contest.used">
                        <label>过滤比赛</label>
                    </div>
                </div>
                <div class="ui field" v-if="filter.contest.used">
                    <label>比赛</label>
                    <input type="text" v-model="filter.contest.value">
                </div>
                <div class="ui green tiny button" v-on:click="loadPage(1)">
                    加载
                </div>
            </div>
            <div class="ui divider"></div>
        </div>
        <table class="ui very basic table">
            <thead>
                <tr>
                    <th class="center aligned" style="max-width: 80px;width:80px;">提交编号</th>
                    <th class="center aligned">题目</th>
                    <th>用户</th>
                    <th>提交时间</th>
                    <th>时间开销</th>
                    <th>空间开销</th>
                    <th class="center aligned">状态</th>
                    <th>分数</th>
                    <th>比赛</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in data">
                    <td class="center aligned" style="max-width: 80px;width:80px;"><a
                            :href="'/show_submission/'+item.id" target="_blank">{[item.id]}</a></td>
                    <td style="max-width: 350px;" class="center aligned"><a
                            :href="'/show_problem/'+item.problem_id">{[item.problem_id]}.
                            {[item.problem_title]}</a> </td>
                    <td><a :href="'/profile/'+item.uid">{[item.username]}</a></td>
                    <td>{[item.submit_time]}</td>
                    <td>{[item.time_cost]} ms</td>
                    <td>{[item.memory_cost]} bytes</td>
                    <td class="center aligned">
                        <a :href="'/show_submission/'+item.id" target="_blank">
                            <judge-status :status="item.status"></judge-status>
                        </a>
                    </td>
                    <td>
                        <a v-if="item.status!=='invisible'" :href="'/show_submission/'+item.id" target="_blank">
                            <score-label :score="item.score" :full_score="item.total_score"></score-label>
                        </a>
                    </td>
                    <td>
                        <a v-if="item.contest!=-1" :href="'/contest/'+item.contest">{[item.contest]}</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <page-menu v-bind:page-count="pageCount" v-bind:current-page="currentPage" v-bind:callback="loadPage">
        </page-menu>
    </div>
</div>
{%endblock%}