{%extends "base.html"%}
{%block title%}
提交列表
{%endblock%}
{%block body%}
<script>
    var submissions;
    $(document).ready(() => {
        submissions = new Vue({
            delimiters: ['{[', ']}'],
            el: "#submissions",
            data: {
                data: null,
                page_count: 0,
                done: false,
                current_page: 0,
                page_menu: [],
                judge_status: null
            }
        });
        $.post("/api/submission_list", { page: parseInt(window.location.href.split("/").pop()) || 1 }).done(ctx => {
            ctx = JSON.parse(ctx);
            if (ctx.code) {
                show_modal_error(ctx.message);
                return;
            }
            submissions.data = ctx.data;
            submissions.page_count = ctx.page_count;
            submissions.current_page = ctx.current_page;
            var arr = submissions.page_menu;
            for (var i = 1; i <= submissions.page_count; i++) submissions.page_menu.push(i);
            // console.log(problems);
            // console.log(arr);
            if (arr.indexOf(submissions.current_page) > 5) {
                arr.splice(1, arr.indexOf(submissions.current_page) - 4);
                arr.splice(1, 1, -1);
            }
            if (arr.indexOf(submissions.current_page) + 5 <= arr.length) {
                arr.splice(arr.indexOf(submissions.current_page) + 5, arr.length - 2 - (arr.indexOf(submissions.current_page) + 5) + 1);
                arr.splice(-2, 1, -1);
            }
            $.post("/api/get_judge_status").done(ctx => {
                submissions.judge_status = JSON.parse(ctx).data;
                submissions.done = true;
            });



        });
    });
</script>
<div id="submissions" v-if="done">
    <div class="ui header" style="margin-bottom: 50px;">
        <h1>Submissions</h1>
    </div>
    <div class="ui stacked segment">
        <table class="ui very basic table">
            <thead>
                <tr>
                    <th class="center aligned" style="max-width: 80px;width:80px;">提交编号</th>
                    <th class="center aligned">题目</th>
                    <th class="center aligned">状态</th>

                    <th>分数</th>

                    <th>比赛</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in data">
                    <td class="center aligned" style="max-width: 80px;width:80px;"><a
                            :href="'/show_submission/'+item.id" target="__blank">{[item.id]}</a></td>
                    <td style="max-width: 350px;" class="center aligned"><a
                            :href="'/show_problem/'+item.problem_id">{[item.problem_id]}.
                            {[item.problem_title]}</a> </td>
                    <td class="center aligned">
                        <a :href="'/show_submission/'+item.id" target="_blank">
                            <judge-status  :status="item.status"></judge-status>
                        </a>
                    </td>
                    <td><a :href="'/show_submission/'+item.id" target="_blank">
                            <score-label :score="item.score" :full_score="item.total_score"></score-label>
                        </a>
                    </td>

                    <td>
                        <a v-if="item.contest!=-1" :href="'/contests/'+item.contest">{[item.contest]}</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="ui center aligned container">
            <div class="ui pagination menu">
                <a class="item" v-for="item in page_menu" :class="{disabled:item==-1,active:item==current_page}"
                    :href="item==-1?null:('/submissions/'+item)">{[
                    item==-1?"...":item]}</a>
            </div>
        </div>
    </div>
</div>
{%endblock%}