{%extends "base.html"%}
{%block title%}
编辑挑战
{%endblock%}
{%block body%}

<script>
    let challengeEdit;
    let id = parseInt(window.location.pathname.split("/").pop());
    console.log("ID=", id);

    $(document).ready(() => {
        challengeEdit = new Vue({
            el: "#challenge-edit",
            delimiters: ['{[', ']}'],
            data: {
                data: null,
                done: false,
                loading: false,
                successMessage: "",
                errorMessage: "",
                problemsetList: []
                // editing: false,
            },
            computed: {

            },
            methods: {
                submit() {
                    this.data.problemsetList = this.problemsetList.map(item => item.id);
                    this.loading = true;
                    this.successMessage = this.errorMessage = "";

                    axios.post("/api/challenge/update", {
                        id: this.data.id,
                        name: this.data.name,
                        level: this.data.level,
                        description: this.data.description,
                        problemsetList: this.data.problemsetList
                    }).then(resp => {
                        $("html,body").animate({
                            scrollTop: 0
                        });
                        this.loading = false;
                        let data = resp.data;
                        if (data.code) {
                            this.errorMessage = data.message;
                        } else {
                            this.successMessage = data.message;
                        }
                    });
                },
                remove() {
                    let ID = this.data.id;
                    $("#warning-modal").modal({
                        onApprove() {
                            axios.post("/api/challenge/remove", { id: ID }).then((resp) => {
                                // ctx = ctx.data;
                                let data = resp.data;
                                if (data.code) {
                                    challengeEdit.errorMessage = data.message;
                                    // showErrorModal(ctx.message);
                                    return;
                                }
                                window.location.href = '/challenge/list';
                            })
                        }
                    }).modal("show");
                }
            }, mounted() {
                axios.post("/api/challenge/detail_raw", { id: id }).then(resp => {
                    let data = resp.data;
                    if (data.code) {
                        showErrorModal(data.message);
                        return;
                    }
                    this.data = data.data;
                    this.problemsetList = this.data.problemsetList.map(item => ({ id: item }));
                    this.done = true;
                });
            }
        });

    });
</script>
<div id="challenge-edit" v-if="done">
    <div class="ui header">
        <h1>{[data.name]} - 编辑中</h1>
    </div>
    <div class="ui stacked segment">
        <div class="ui form" v-bind:class="{success:successMessage!='',error:errorMessage!=''}">
            <div class="ui success message">
                <div class="header">完成</div>
                {[successMessage]}
            </div>
            <div class="ui error message">
                <div class="header">错误</div>
                {[errorMessage]}
            </div>
            <div class="ui field">
                <label>挑战名</label>
                <input type="text" v-model="data.name">
            </div>
            <div class="ui field">
                <label>挑战描述</label>
                <textarea v-model="data.description"></textarea>
            </div>
            <div class="ui field">
                <label>挑战等级</label>
                <input v-model.number="data.level"></input>
            </div>
            <div class="ui info message">
                <div class="ui header">
                    提示
                </div>
                <div class="content">
                    <p>每个挑战的等级必须为一个互不相同正整数</p>
                    <p>要获得使用一个挑战(非level=1)的权限，则必须通过比该挑战level低的所有挑战</p>
                    <p>level=1的挑战不需要前置条件</p>
                    <p>通过一个挑战需要获取challenge.finish.挑战ID.习题集ID1 challenge.finish.挑战ID.习题集ID2...等该挑战下的所有习题集</p>
                    <p> 通过一个挑战后申请获取challenge.finish.挑战ID.all权限</p>
                    <p>需要具有challenge.access.挑战ID(level=1的挑战除外)才可访问一个挑战</p>
                </div>
            </div>
            <div class="ui field">
                <label>习题集列表</label>
                <table class="ui very basic celled table">
                    <thead>
                        <tr>
                            <th>习题集ID</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="problemset,i in problemsetList">
                            <td><input type="text" v-model.number="problemset.id"></td>
                            <td>
                                <div class="ui icon buttons">
                                    <div class="ui blue button" v-bind:class="{disabled:i==0}"
                                        v-on:click="problemsetList.splice(i-1,0,problemsetList.splice(i,1)[0])">
                                        <i class="angle up icon"></i>
                                    </div>
                                    <div class="ui blue button" v-bind:class="{disabled:i==problemsetList.length-1}"
                                        v-on:click="problemsetList.splice(i+1,0,problemsetList.splice(i,1)[0])">
                                        <i class="angle down icon"></i>
                                    </div>
                                    <div class="ui green button" v-on:click="problemsetList.splice(i,1)">
                                        <i class="times icon"></i>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="ui tiny green button" v-on:click="problemsetList.push({id:1})">添加习题集</div>
            </div>
            <div class="ui green button" v-on:click="submit" :class="{loading:loading}">提交</div>
            <a href="/challenge/list" class="ui blue button">返回</a>
            <div class="ui red button" v-on:click="remove">删除</div>
        </div>
    </div>
</div>
<div class="ui modal" id="warning-modal">
    <div class="ui header">
        警告
    </div>
    <div class="content">
        <p style="font-size: large;">您确定要删除该挑战吗？</p>
    </div>
    <div class="actions">
        <div class="ui green approve button">
            确定
        </div>
        <div class="ui blue cancel button">
            取消
        </div>
    </div>
</div>
{%endblock%}