{%extends "base.html"%}
{%block title%}
天梯
{%endblock%}
{%block body%}

<script>
    let challengeList;
    $(document).ready(() => {
        challengeList = new Vue({
            el: "#challenge-list",
            mixins: [baseMixin],
            data: {
                data: null,
                done: false,
                // editing: false,
                managable: false
            }, methods: {
                finishChallenge(challengeObj) {
                    axios.post("/api/challenge/finish_challenge", {
                        challengeID: challengeObj.id
                    }).then(resp => {
                        let data = resp.data;
                        if (data.code) {
                            showErrorModal(data.message);
                            return;
                        }
                        challengeObj.hasFinished = challengeObj.detail.hasFinished = true;
                    });
                },
                finishProblemset(challengeObj, problemsetObj) {
                    axios.post("/api/challenge/finish_problemset", {
                        challengeID: challengeObj.id,
                        problemsetID: problemsetObj.id
                    }).then(resp => {
                        let data = resp.data;
                        if (data.code) {
                            showErrorModal(data.message);
                            return;
                        }
                        problemsetObj.hasFinished = true;
                    });
                },
                toggleExpand(item) {
                    console.log("Toggling ", item);
                    if (item.expanding) {
                        item.expanding = false;
                        return;
                    }
                    if (item.loaded) {
                        item.expanding = true;
                    } else {
                        item.loading = true;
                        axios.post("/api/challenge/detail", { challengeID: item.id }).then(resp => {
                            item.loading = false;
                            let data = resp.data;
                            if (data.code) {
                                showErrorModal(data.message);
                            } else {
                                item.detail = data.data;
                                item.loaded = true;
                                item.expanding = true;
                            }
                        });
                    }
                },
                unlock(item) {
                    axios.post("/api/challenge/unlock", {
                        id: item.id
                    }).then(resp => {
                        let data = resp.data;
                        if (data.code) {
                            showErrorModal(data.message);
                            return;
                        }
                        item.accessible = true;
                    });
                },
                createChallenge() {
                    axios.post("/api/challenge/create").then(resp => {
                        let data = resp.data;
                        if (data.code) {
                            showErrorModal(data.message);
                            return;
                        }
                        window.location.href = "/challenge/edit/" + data.id;

                    });
                }
            }, mounted() {
                axios.post("/api/challenge/list").then(resp => {
                    let data = resp.data;
                    if (data.code) {
                        showErrorModal(data.message);
                        return;
                    }
                    this.data = data.data;
                    for (let item of this.data) {
                        Vue.set(item, "loaded", false);
                        Vue.set(item, "expanding", false);
                        Vue.set(item, "loading", false);
                        Vue.set(item, "detail", {})
                    }
                    this.managable = data.managable;
                    this.done = true;
                });
            }
        });

    });
</script>
<div id="challenge-list" v-if="done">
    <div class="ui header">
        <h1>挑战</h1>
    </div>
    <div class="ui header" v-if="managable">
        <h3>管理</h3>
    </div>
    <div class="ui segment stacked" style="width:10%" v-if="managable">
        <div class="ui tiny green button" v-on:click="createChallenge">创建</div>
    </div>
    <div v-for="item in data" style="margin-bottom: 30px;">
        <div class="ui header">
            <h2>{[item.name]}</h2>
        </div>
        <div class="ui segment stacked">
            <table class="ui very simple celled table" style="width:30%">
                <tbody>
                    <tr>
                        <td>等级</td>
                        <td>{[item.level]}</td>
                    </tr>
                    <tr>
                        <td>状态</td>
                        <td>
                            <div style="font-size: large;" v-bind:style="{color:(item.hasFinished?'green':'red')}">
                                {[item.hasFinished?'已完成':'尚未完成']}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div v-html="makeHTML(item.description)" v-if="item.description!=''"></div>
            <div class="ui divider" v-if="item.description!=''"></div>
            <div class="ui left aligned container" style="margin-bottom: 30px;">
                <div class="ui green button" v-if="item.accessible" v-on:click="toggleExpand(item)"
                    v-bind:class="{loading:item.loading}">
                    {[item.expanding?"折叠":"展开"]}
                </div>
                <div class="ui red button" v-if="!item.accessible" v-on:click="unlock(item)">解锁</div>
                <a class="ui blue button" v-if="managable" target="_blank"
                    v-bind:href="'/challenge/edit/'+item.id">编辑</a>
            </div>
            <div v-if="item.expanding">
                <div class="ui four column grid">
                    <div class="ui column" v-for="problemset in item.detail.problemsetList">
                        <div class="ui card">
                            <div class="content">
                                <div class="header">
                                    <a target="_blank" :href="'/problemset/show/'+problemset.id">{[problemset.name]}</a>
                                </div>
                            </div>
                            <div class="content">
                                <div style="font-size: large;"
                                    v-bind:style="{color:(problemset.hasFinished?'green':'red')}">
                                    {[problemset.hasFinished?'已完成':'尚未完成']}</div>
                            </div>
                            <div class="extra content" v-if="!problemset.hasFinished">
                                <div class="ui green button" v-on:click="finishProblemset(item,problemset)">完成
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui left aligned container" style="margin-top: 30px;">
                    <div class="ui green button" v-on:click="finishChallenge(item)" v-if="!item.detail.hasFinished">
                        完成挑战
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{%endblock%}