{%extends "base.html"%}
{%block title%}
编辑权限包
{%endblock%}
{%block body%}

<script>
    let id = parseInt(window.location.pathname.split("/").pop());
    let permissionPack;
    $(document).ready(() => {
        permissionPack = new Vue({
            mixins: [baseMixin],
            el: "#permissionpack",
            data: {
                done: false,
                data: [],
                currentPage: -1,
                pageCount: 0,
                currentData: [],
                uploadingFile: [],
                uploading: false,
                phoneColumn: "1",
                progressText: ""
            },
            computed: {
                permissions: {
                    set(val) {
                        this.data.permissions = val.split("\n");
                    },
                    get() {
                        return this.data.permissions.join("\n");
                    }
                }
            },
            methods: {
                upload() {
                    let formData = new FormData();
                    // let item = this.uploading[0];
                    formData.append("file", this.uploadingFile[0]);
                    formData.append("column", this.phoneColumn);
                    formData.append("pack_id", this.data.id);
                    this.uploading = true;
                    axios.post(
                        "/api/permissionpack/users/upload",
                        formData,
                        {
                            headers: { "Content-Type": "multipart/form-data" },
                            onUploadProgress: evt => {
                                this.progressText = ((evt.loaded / evt.total * 100) | 0) + "%";
                            }
                        }
                    ).then(resp => {
                        this.uploading = false;
                        let data = resp.data;
                        if (data.code) {
                            showErrorModal(data.message);
                            return;
                        }
                        window.location.reload();

                    });
                },
                save() {
                    axios.post("/api/permissionpack/update", {
                        packID: id,
                        name: this.data.name,
                        description: this.data.description,
                        permissions: this.data.permissions
                    }).then(resp => {
                        let data = resp.data;
                        if (data.code) {
                            showErrorModal(data.message);
                            return;
                        }
                        // window.location.reload();
                        showSuccessModal("保存完成");
                    });
                },
                dropAll() {
                    showConfirmModal("您确认要删除所有用户吗?", () => {
                        axios.post("/api/permissionpack/users/remove", { packID: id, removeAll: true }).then(resp => {
                            let data = resp.data;
                            if (data.code) {
                                showErrorModal(data.message);
                                return;
                            }
                            window.location.reload();
                        });
                    });
                },
                switchPage(page) {
                    axios.post("/api/permissionpack/users", { packID: id, page: page }).then(resp => {
                        let data = resp.data;
                        if (data.code) {
                            showErrorModal(data.message);
                            return;
                        }
                        this.currentData = data.data;
                        this.pageCount = data.pageCount;
                        this.currentPage = page;
                    });
                }
            },
            mounted() {
                axios.all([
                    axios.post("/api/permissionpack/detail", { packID: id }),
                    axios.post("/api/permissionpack/users", { packID: id, page: 1 })
                ]).then(axios.spread((main, users) => {
                    this.data = main.data.data;
                    this.currentPage = 1;
                    this.pageCount = users.data.pageCount;
                    this.currentData = users.data.data;
                    this.done = true;
                }));
            }
        });
    });
</script>


<div id="permissionpack" v-if="done">
    <div class="ui header">
        <h1>{[data.name]}</h1>
    </div>
    <div class="ui segment stacked">
        <div class="ui form">
            <div class="ui field">
                <label>名称</label>
                <input type="text" v-model="data.name">
            </div>
            <div class="ui field">
                <label>介绍</label>
                <textarea v-model="data.description"></textarea>
            </div>
            <div class="ui field">
                <label>权限(一行一个)</label>
                <textarea v-model="permissions"></textarea>
            </div>

        </div>
        <div class="ui green button" style="margin-top: 10px;" v-on:click="save">
            保存
        </div>
        <div class="ui divider"></div>
        <div class="ui header">
            <h3>用户列表</h3>
        </div>

        <div class="ui form">
            <div class="ui field">
                <label>上传xlsx文件...</label>
                <input type="file" id="files" v-on:change="uploadingFile=$event.target.files">
            </div>
            <div class="ui field">
                <label>表格中存储有手机号码数据的列</label>
                <input type="text" v-model="phoneColumn">
            </div>
            <div class="ui red button" v-on:click="dropAll">
                删除所有用户
            </div>
            <div class="ui green button" v-on:click="upload" v-bind:class="{loading:uploading}">
                上传文件
            </div>
            <div v-if="uploading">
                已上传 {[this.progressText]}
            </div>
        </div>
        <div class="ui center aligned container">
            <page-menu :page-count="pageCount" :callback="switchPage" :current-page="currentPage"></page-menu>
        </div>
        <table class="ui  center aligned celled table">
            <thead>
                <tr>
                    <th>OJ用户名</th>
                    <th>手机号码</th>
                    <th>是否已领取权限</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in currentData">
                    <td>{[item.username]}</td>
                    <td>
                        {[item.phone]}
                    </td>
                    <td v-bind:class="[item.claimed?'positive':'negative']">{[item.claimed?"是":"否"]}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{%endblock%}