{%extends "base.html"%}
{%block title%}
权限包列表
{%endblock%}
{%block body%}

<script>
    $(document).ready(() => {
        new Vue({
            mixins: [baseMixin],
            el: "#permissionpack",
            data: {
                done: false,
                data: []
            },
            methods: {
                remove(id) {
                    showConfirmModal("您确认要删除该权限包吗", () => {
                        axios.post("/api/permissionpack/remove", {
                            id: id
                        }).then(resp => {
                            let data = resp.data;
                            if (data.code) {
                                showErrorModal(data.message);
                                return;
                            }
                            this.data = this.data.filter(item => item.id != id);
                        });
                    });
                },
                create() {
                    axios.post("/api/permissionpack/create").then(resp => {
                        let data = resp.data;
                        if (data.code) {
                            showErrorModal(data.message);
                            return;
                        }
                        this.data.push({
                            id: data.id,
                            name: data.name,
                            permissionCount: 0,
                            userCount: 0
                        });
                    });
                }
            },
            mounted() {
                axios.post("/api/permissionpack/all").then(resp => {
                    let data = resp.data;
                    if (data.code) {
                        showErrorModal(data.message);
                        return;
                    }
                    this.data = data.data;
                    this.done = true;
                });
            }
        });
    });
</script>


<div>
    <div class="ui header">
        <h1>权限包管理</h1>
    </div>
    <div class="ui segment stacked" v-if="done" id="permissionpack">
        <div class="ui green button" v-on:click="create">
            添加权限包
        </div>
        <table class="ui center aligned celled table">
            <thead>
                <tr>
                    <th>权限包ID</th>
                    <th>权限包名</th>
                    <th>可使用用户数</th>
                    <th>权限数</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in data">
                    <td>{[item.id]}</td>
                    <td>{[item.name]}</td>
                    <td>{[item.userCount]}</td>
                    <td>{[item.permissionCount]}</td>
                    
                    <td>
                        <div class="ui tiny red button" v-on:click="remove(item.id)">
                            删除
                        </div>
                        <a class="ui tiny green button" :href="'/permissionpack/edit/'+item.id" target="_blank">编辑</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{%endblock%}