{%extends "base.html"%}
{%block title%}
个人资料
{%endblock%}
{%block body%}
<script>
    var profile;

    $(document).ready(() => {
        let uid = parseInt(window.location.href.split("/").pop());
        profile = new Vue({
            el: "#profile",
            delimiters: ['{[', ']}'],
            mixins: [baseMixin],
            data: {
                done: false,
                data: null,
                currentTab: "description",
                follower: {
                    pageCount: -1,
                    currentPage: -1,
                    pages: [ // {loaded:true\false,content:[{uid:...,}]}

                    ]
                },
                followee: {
                    pageCount: -1,
                    currentPage: -1,
                    pages: [ // {loaded:true\false,content:[{uid:...,}]}

                    ]
                },
                currentType: "follower",//follower or followee
                followingLoading: false,
                currentLine: [],
                usingObj: {}
            },
            computed: {
                // currentLine() {
                //     // if (!this.follower.pages.length || !this.followee.pages.length) return [];
                //     // console.log(JSON.parse(JSON.stringify(this.follower)));
                //     if (this.currentType == "follower") {

                //     } else {
                //         let raw = this.followee.pages[this.followee.currentPage - 1];
                //         return raw ? raw.content : [];
                //     }
                // },
                // usingObj() {
                //     if (this.currentType == "follower") { return this.follower; }
                //     else { return this.followee; }
                // }
            },
            watch: {
                currentType(newVal, oldVal) {
                    this.modifyState(newVal);
                }
            },
            methods: {
                modifyState(val) {
                    if (val == "follower") {
                        let raw = this.follower.pages[this.follower.currentPage - 1];
                        this.currentLine = raw ? raw.content : [];
                        this.usingObj = this.follower;
                    } else {
                        let raw = this.followee.pages[this.followee.currentPage - 1];
                        this.currentLine = raw ? raw.content : [];
                        this.usingObj = this.followee;
                    }
                    console.log("modifying state...");
                },
                toggleState(obj) {
                    axios.post("/api/user/toggle_follow_state", {
                        target: obj.uid
                    }).then(resp => {
                        let data = resp.data;
                        if (data.code) {
                            showErrorModal(data.message);
                            return;
                        }
                        obj.followedByMe = data.data.followed;
                    });
                },
                toggleStateX() {
                    axios.post("/api/user/toggle_follow_state", {
                        target: this.data.id
                    }).then(resp => {
                        let data = resp.data;
                        if (data.code) {
                            showErrorModal(data.message);
                            return;
                        }
                        this.data.following = data.data.followed;
                    });
                },
                makeSwitchPage(obj, page) {
                    console.log(obj, page);
                    if (this.currentType == "follower") {
                        this.switchPage(axios.post("/api/user/get_follower_list", { target: uid, page: page }), obj, page);
                    } else {
                        this.switchPage(axios.post("/api/user/get_followee_list", { source: uid, page: page }), obj, page);
                    }
                },
                switchPage(axiosReq, obj, page) {
                    if (obj.pages[page - 1].loaded) {
                        obj.currentPage = page;
                        this.modifyState(this.currentType);
                    } else {
                        this.followingLoading = true;
                        axiosReq.then(resp => {
                            this.followingLoading = false;
                            let data = resp.data;
                            if (data.code) {
                                showErrorModal(data.message);
                                return;
                            }
                            obj.pageCount = data.pageCount;
                            obj.pages[page - 1] = {
                                content: data.data,
                                loaded: true
                            };
                            obj.currentPage = page;
                            console.log("Current page to => ", page);
                            this.modifyState(this.currentType);
                        });
                    }

                }
            },
            mounted() {
                axios.all([axios.post("/api/user/get_follower_list", {
                    target: uid
                }), axios.post("/api/user/get_followee_list", {
                    source: uid
                })]).then(axios.spread((follower, followee) => {
                    const parseResult = (obj, resp) => {
                        let data = resp.data;
                        if (data.code) {
                            showErrorModal(data.message);
                            return;
                        }
                        obj.pageCount = data.pageCount;
                        obj.pages = (new Array(obj.pageCount).fill(0)).map(x => ({
                            loaded: false,
                            content: []
                        }));
                        obj.pages[0] = {
                            loaded: true,
                            content: data.data
                        };
                        obj.currentPage = 1;
                        console.log(obj);
                    };
                    parseResult(this.follower, follower);
                    parseResult(this.followee, followee);
                    this.$nextTick(() => {
                        this.modifyState(this.currentType);
                    });
                    // this.makeSwitchPage(this.follower, 1);
                }));
            }
        });
        $.post("/api/get_user_profile", { uid: uid }).done(ctx => {
            ctx = JSON.parse(ctx);
            if (ctx.code) {
                showErrorModal(ctx.message);
                return;
            }
            profile.data = ctx.data;
            profile.data.ac_problems.sort((x, y) => x - y);
            $("title").text(`${profile.data.username} - ${profile.data.id} - 用户资料 - {{APP_NAME}}`);
            profile.done = true;
            // profile.data.banned=true;
            console.log(profile.data);
        });
    });

</script>
<div style="top:10%;max-width: 1000px;" v-if="done" id="profile">
    <div class="ui grid" style="width: 100%">
        <div class="ui row">
            <div class="ui five wide column">
                <div class="ui card" style="width:100%">
                    <div class="image">
                        <img v-bind:src="makeProfileImageURL(data.email,200)">
                    </div>
                    <div class="content">
                        <div class="header">{[data.username]}</div>
                        <div class="meta">
                            <span class="date">注册于 {[data.register_time]}</span>
                        </div>
                        <div class="meta">
                            <span class="is-admin">{[data.group_name]}</span>
                        </div>

                    </div>
                    <div class="extra content" style="color:black">
                        <div>Rating: {[data.rating]}</div>
                        <div>Email: {[data.email]}</div>
                    </div>
                    <div class="extra content" v-if="data.banned">
                        <span style="color:red">此账户已被封禁</span>
                    </div>
                    <div class="extra content">
                        <a target="_blank" :href="'/profile_edit/'+data.id" class="ui tiny button"
                            v-if="data.managable||base.uid==data.id">设置</a>
                        <a target="_blank" :href="'/blog/list/'+data.id" class="ui tiny button">博客</a>
                        <div class="ui tiny button" :class="{blue:data.following}" v-on:click="toggleStateX">
                            {[data.following?"已关注":"未关注"]}
                        </div>
                    </div>
                </div>
                <h4 class="ui block attached header">
                    Rating历史
                </h4>
                <div class="ui bottom attached segment">
                    <div v-if="data.rating_history.length==0">这个人很懒，没参加过任何Rated比赛...</div>
                    <table class="ui very basic celled table" v-else>
                        <thead>
                            <tr>
                                <th>比赛</th>
                                <th>变化</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in data.rating_history">
                                <td><a :href="'/contest/'+item.contest_id">{[item.contest_name]}</a>
                                </td>
                                <td style="color:green" v-if="item.result>=0">+{[item.result]}
                                </td>
                                <td v-else style="color:red">-{[-item.result]}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h4 class="ui block attached header">
                    通过题目
                </h4>
                <div class="ui bottom attached segment">
                    <div v-if="data.ac_problems.length==0">这个人很懒,还没有做过题...</div>
                    <span v-for="item in data.ac_problems" v-else><a :href="'/show_problem/'+item">{[item]} </a>
                    </span>
                </div>
            </div>
            <div class="ui eleven wide column">
                <div class="ui header">
                    <h1>{[data.username]}</h1>
                </div>
                <div class="ui top attached tabluar menu">
                    <a class="item" :class="{active:currentTab=='description'}"
                        v-on:click="currentTab='description'">个人简介</a>
                    <a class="item" :class="{active:currentTab=='following'}" v-on:click="currentTab='following'">关注</a>

                </div>
                <div class="ui bottom attached tab stacked segment" :class="{active:currentTab=='description'}">
                    <div v-html="makeHTML(data.description)" style="max-height: 1000px;" v-if="data.description"></div>
                    <div v-else style="height: 100%">这个人好懒...什么都没有写...</div>
                </div>
                <div class="ui bottom attached tab stacked segment" :class="{active:currentTab=='following'}">
                    <div class="ui active dimmer" v-if="followingLoading">
                        <div class="ui loader"></div>
                    </div>
                    <div class="ui right aligned container">
                        <div class="ui buttons">
                            <div class="ui button" v-bind:class="{active:currentType=='follower'}"
                                v-on:click="currentType='follower'">关注TA的人</div>
                            <div class="ui button" v-bind:class="{active:currentType=='followee'}"
                                v-on:click="currentType='followee'">TA关注的人</div>

                        </div>
                        <div>
                            <div class="ui large feed">
                                <div class="event" v-for="item in currentLine">
                                    <div class="label">
                                        <img :src="makeProfileImageURL(item.email)">
                                    </div>
                                    <div class="content">
                                        <div class="summary">
                                            <a :href="'/profile/'+item.uid" target="_blank">{[item.username]}</a>
                                            <div class="date">
                                                生效于 {[item.time]}
                                            </div>
                                        </div>
                                        <!-- <div class="extra text">
                                            .
                                        </div> -->
                                        <div class="meta" v-if="base.isLogin">
                                            <div class="ui tiny button" v-on:click="toggleState(item)"
                                                v-if="item.followedByMe">
                                                已关注
                                            </div>
                                            <div v-else class="ui tiny blue button" v-on:click="toggleState(item)">
                                                关注
                                            </div>
                                        </div>
                                        <div class="ui divider"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui center aligned container">
                            <page-menu :page-count="usingObj.pageCount" :current-page="usingObj.currentPage"
                                :callback="(item)=>makeSwitchPage(usingObj,item)"></page-menu>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}