{%extends "base.html"%}
{%block title%}
重置密码
{%endblock%}
{%block body%}
<script>
    $(document).ready(() => {

        new Vue({
            el: "#reset-password",
            mixins: [baseMixin],
            data: {
                errorMessage: "",
                phone: "",
                password: "",
                loading: false,
                authcode: "",
                codeSended: false
            },

            mounted() {

            },
            methods: {
                submit() {
                    this.loading = true;
                    this.errorMessage = "";
                    (async () => {
                        try {
                            let result = await axios.post("/api/phoneuser/reset_password", {
                                phone: this.phone,
                                password: this.md5WithSalt(this.password),
                                authcode: this.authcode
                            });
                            let data = result.data;
                            if (data.code) {
                                this.errorMessage = data.message;
                                return;
                            }
                            window.location.href = "/login";
                        } catch (ex) {
                            throw ex;
                        } finally {
                            this.loading = false;
                        }

                    })();
                },
                openSendCode() {
                    this.errorMessage = "";
                    if (!/[0-9]{11}/.test(this.phone)) {
                        this.errorMessage = "请输入11位国内手机号";
                        return;
                    }
                    (async () => {
                        let checkresult = await axios.post("/api/phoneuser/check_phone", { phone: this.phone });
                        if (!checkresult.data.data.using) {
                            this.errorMessage = "手机号错误";
                            return;
                        }
                        window.closeModal = (sended) => {
                            $("#smscode-modal").modal("hide");
                            this.codeSended = this.codeSended || sended;
                        };
                        $("#smscode-frame").attr("src", "/card/sendsms?phone=" + this.phone);
                        $("#smscode-modal").modal("show", {
                            onClose: () => {
                                this.codeSended = true;
                            }
                        });
                    })();

                },

            }
        });
    });

</script>
<div style="top:10%;max-width: 500px;">
    <div class="ui left aligned container">
        <div class="ui header">
            <h1>重置密码</h1>
        </div>
        <div class="ui stack segment" id="reset-password">
            <div class="ui form" v-bind:class="{error:errorMessage!=''}">
                <div class="field">
                    <label>手机号</label>
                    <input type="text" v-model="phone" placeholder="手机号..">
                </div>
                <div class="field">
                    <label>新密码</label>
                    <input type="text" v-model="password" placeholder="密码..">
                </div>

                <div class="field">
                    <label>验证码</label>
                    <input type="text" v-model="authcode" placeholder="短信验证码..">
                </div>

                <div class="ui error message">
                    <div class="header">错误</div>
                    <p>{[errorMessage]}</p>
                </div>
                <div class="ui green button" v-on:click="openSendCode">
                    发送验证码
                </div>
                <div class="ui green submit button" v-on:click="submit"
                    v-bind:class="{loading:loading,disabled:loading}" v-if="codeSended">提交</div>
            </div>
        </div>
    </div>
</div>
<div class="ui center aligned modal" id="smscode-modal">
    <iframe id="smscode-frame" style="width: 100%;height: 300px;"></iframe>
</div>
{%endblock%}